[2020-09-09 10:52] drasticdpk opened #1 "User has landed on connect app instead of community app."
**Steps** :
1. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ
2. Click Login button.
3. Go to sign up section
4. Fill the data, submit the form and observe the email

**Expected** :
User should landed on community app while clicking on confirmation email where he has registered  the acc.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/92589549-6e80e000-f2b

[2020-09-09 11:23] drasticdpk opened #2 "System is taking Name as space"
**Steps** :
1. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ
2. Click Login button.
3. Go to sign up section
4. Fill the data (first/last name as space), submit the form and observe the email

**Expected** :
System should not  take space as first/last  name.
**Reference**

![image](https://user-images.githubusercontent.com/25297859/92591825-514e1080-f2be-11ea-8ed6-07a120415531.png)

[2020-09-09 12:29] drasticdpk opened #3 "Unable to find out social login other than google"
**Steps** :
1. Go to https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Observe the social Login Section

**Expected** :
All social login option should be display.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/92597827-a80c1800-f2c7-11ea-8999-f68dc159cf1c.png)

![image](htt

[2020-09-09 12:52] drasticdpk opened #4 "Doe not consistent hyperlink with in the application."
**Steps** :
1. Go to https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. observe the `Don't remember your password?`

**Expected** :
All Hyperlink text should be consistent in side the application.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/92600033-c1fb2a00-f2ca-11ea-844

[2020-09-09 13:00] drasticdpk opened #5 "No message if the search text not contain on country list."
**Steps** :
1. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ
2. Click Login button.
3. Go to sign up section
4. Go to choose your location and type `NoCountryMessage`

**Expected** :
There should be message if there is no country related with the search text.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/92601073-15ba4300-f2cc-11ea-8434-a160da3f6399.pn

[2020-09-09 13:37] drasticdpk opened #6 "Registered Country is not reflecting on Profile Setting page."
**Steps** :
1. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ
2. Click Login button.
3. Go to sign up section
4. Fill the data, submit the form and observe the email

**Expected** :
Registered country should reflect on profile setting page.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/92605335-549ec780-f2d1-11ea-80a6-2ccf9add9550.png)

Note : This is e

[2020-09-09 13:42] drasticdpk opened #7 "Unable to logout from system."
**Steps** :
1. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ
2. Click Login button.
3. login with valid credential.
4. Try to logout from the system.
5. Go to https://qa-community-app.topcoder-dev.com/members/TonyJ

**Expected** :
User should log out from system.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/92606312-85cbc780-f2d2-11ea-8522-084aa2a8813

[2020-09-09 14:15] sachin-maheshwari commented on #1
For the time being i hard coded at auth0 "connection" end.

I need to plan to fix it. Default we can take to topcoder-dev.com / topcoder.com

[2020-09-09 14:17] sachin-maheshwari commented on #3
Bitbucket is issue (looks like coming default), need to fix from auth0 end.
Added remaining - Twitter, Facebook and Github.

[2020-09-10 10:13] drasticdpk opened #8 "Can we have login function in modal dialog instead of web browser ?"
**Steps** :
 Go to https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Ftopcoder-dev.com%2Fdirect%2F

**Problem**
Currently login window goes to background (as different browser tab) if user click out side the login section. As user some time It will confuse there is login window available or not.

**Suggestion **
Login window should open in modal dialog box instead of browser.

**Referen

[2020-09-11 07:52] sachin-maheshwari commented on #7
I am planning to handle it through one place (i.e. nginx) and after logout from any application it will land to our website (topcoder.com) only.

[2020-09-14 08:33] sachin-maheshwari commented on #6
Not sure if it is existing issue. As i tried and check at database. It is there.

select * from informixoltp.coder order by coder_id = '88774205' ;

[2020-09-14 15:48] sachin-maheshwari commented on #1
return url will depends on https://www.topcoder.com/user-selection/

[2020-09-15 16:58] sachin-maheshwari opened #9 "Cosmetic changes"
![auth0_login_cosmetics](https://user-images.githubusercontent.com/6467888/93241256-badc8c00-f7a2-11ea-8eb3-1f264d244076.png)

[2020-09-16 17:34] sachin-maheshwari commented on #1
Implemented same as per https://www.topcoder.com/user-selection/ , that means if user is coming from Connect (regSorce=tcBusiness), should return on Connect else (all remaining cases) it should return on to "https://www.topcoder.com/start" .

[2020-09-16 17:44] sachin-maheshwari commented on #1
For testing, this is dedicated env - https://connect-auth0.topcoder-dev.com/

[2020-09-16 17:46] sachin-maheshwari commented on #6
@drasticdpk looks like existing issue.

[2020-09-16 17:49] sachin-maheshwari commented on #9
<img width="436" alt="Screenshot 2020-09-16 at 11 18 28 PM" src="https://user-images.githubusercontent.com/6467888/93373484-078f9800-f873-11ea-8d6b-3ab89bcf519d.png">
<img width="441" alt="Screenshot 2020-09-16 at 11 18 42 PM" src="https://user-images.githubusercontent.com/6467888/93373489-08c0c500-f873-11ea-9f63-c0e6efd427b1.png">

[2020-09-21 06:27] SathyaJayabal opened #10 "Accessing the Auth0 page directly does not open the login popup"
Access the Auth0 page directly.
actual: Login popup not displayed
expected: Accessing the Auth0 page directly, must open the login popup and redirect to topcoder home page after login
https://accounts-auth0.topcoder-dev.com/
https://github.com/topcoder-platform/community-app/issues/4956

[2020-09-21 06:27] SathyaJayabal commented on #10
https://github.com/topcoder-platform/community-app/issues/4956#issuecomment-695921512

[2020-09-21 13:18] SathyaJayabal opened #11 "Console error on all pages"
The following console error on all pages
<img width="1440" alt="Screenshot 2020-09-18 at 5 28 09 PM" src="https://user-images.githubusercontent.com/58783823/93595132-cfa06600-f9d4-11ea-8007-07812b9de3ba.png">

Note: error only for `http`, works for `https`

[2020-09-21 13:19] SathyaJayabal opened #12 "Not Logged in user: Clicking on forums link takes the user to the old login form"
1. click on forums link in the header or footer
2. User  is taken to the old login form
https://accounts.topcoder-dev.com/member

expected:
User must be redirected to the new Auth0 login
https://accounts-auth0.topcoder-dev.com/
[forum.mov.zip](https://github.com/topcoder-platform/community-app/files/5244633/forum.mov.zip)
<img width="1440" alt="Screenshot 2020-09-18 at 2 49 32 PM" src="https://use

[2020-09-21 13:20] SathyaJayabal opened #13 "Login popup must be resized to display all content when error message is displayed"
Login popup must be resized to display all content when error message is displayed
<img width="1440" alt="Screenshot 2020-09-18 at 12 59 10 PM" src="https://user-images.githubusercontent.com/58783823/93569884-d2d52b00-f9af-11ea-8b2e-c4e66565ad60.png">

[2020-09-21 13:22] SathyaJayabal opened #14 "Display message when login popup is blocked by pop-up blocker"
When the user clicks on login button, and the browser uses a popup blocker, the following screen is displayed. There should a message similar to "Please go to settings and disable pop-up blocker" so that the user knows what the problem is.

<img width="1440" alt="Screenshot 2020-09-18 at 12 33 43 PM" src="https://user-images.githubusercontent.com/58783823/93567032-999abc00-f9ab-11ea-9a20-f1edfac08

[2020-09-21 13:45] SathyaJayabal commented on #12
@sachin-maheshwari , happens with https too. I think the issue is because auth0 is not integrated with forums yet.

[2020-09-21 15:11] sachin-maheshwari commented on #11
@SathyaJayabal we are assuming you reach to "http" by typing on browser directly. correct ? otherwise no apps having link which is directly pointing to "http".

[2020-09-21 15:12] sachin-maheshwari commented on #11
@mtwomey as discussed we need to fix this "http" from infra side. I need "https" for frontend auth0 sdk.

[2020-09-22 11:05] SathyaJayabal opened #16 "Sanitize Data where multiple handles use the same email address"
There are cases where the same email address has been used for multiple profiles in the past. The new Auth0 allows only unique email addresses. There will be an issue with older accounts that share the same email address.

[2020-09-24 06:17] sandhiyakavi opened #18 "Error message not displayed if user tries to Sign up without entering a country"
Description:
Error message not displayed (only textbox is highlighted in red color)  if user tries to Sign up without entering a country.

Expected behaviour:
Message like  "can't be blank" should be displayed

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/94107551-b0905100-fe78-11ea-8e60-7ecce57144d4.png)

[2020-09-24 06:44] sandhiyakavi opened #19 "Sign up [UX issue]: Error message displayed for invalid email address"
Description:
For invalid email address, Error message displayed as "Invalid". Can it be displayed as "Invalid Email address" to be more meaningful?

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/94109897-a5d7bb00-fe7c-11ea-8bff-f5fceff9f930.png)

[2020-09-24 09:35] sandhiyakavi opened #20 "Registration using Social sites Fails"
Description:
Registration using social sites fails.

After login to the particular social site the window closes and no Confirmation message or mail is displayed. Registration fails.

video:

[Facebook_signup_fails.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5274895/Facebook_signup_fails.zip)

[2020-09-24 10:09] sandhiyakavi opened #21 "Password reset mail sent to Email address which is not registered to Topcoder."
Description:

Able to do password reset even though the mail Id is not registered to Topcoder.

[Password_reset.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5275146/Password_reset.zip)

[2020-09-24 11:17] sandhiyakavi opened #22 "TC website not accessible if not logged in"
Description:

Not able to access TC website https://www.topcoder-dev.com/ if not logged in .

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/94138255-ca468e00-fea2-11ea-8708-46856888e1d6.png)

[2020-09-25 10:36] sandhiyakavi opened #23 "Page becomes unstable on clicking logout from the Online Review (OR) app"
Description:
Page becomes unstable on clicking logout from the Online Review (OR) app

[OR_logout_unstable.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5282196/OR_logout_unstable.zip)

[2020-09-25 12:16] sandhiyakavi opened #24 "Refresh Token error in Connect, Direct and OR apps"
Description:
Refresh Token console error in Connect, Direct and OR apps

Steps to Reproduce:
1. login to the respective app (Connect/Direct/OR) using auth0.
2. Wait for 10 mins.
3. Refresh Token error appears in the console.

Screenshot:

<img width="959" alt="Connect_refreshtoken_error" src="https://user-images.githubusercontent.com/55895538/94263958-d862e000-ff70-11ea-9f40-9c16be728b80.png">
<im

[2020-09-25 12:41] sandhiyakavi commented on #24
cc: @vikasrohit

[2020-09-28 06:49] sandhiyakavi commented on #8
@sachin-maheshwari Login window opening as pop up now. But there are cosmetic errors in the display of Error messages.

1. Error messages are not displaying in single line.
2. Half of the message is not displayed for some error messages.

<img width="938" alt="Screenshot_4" src="https://user-images.githubusercontent.com/55895538/94399277-0a0ebd80-01a2-11eb-97cd-2147819bd931.png">

[2020-09-28 07:19] sandhiyakavi commented on #21
Adding to the above: If the user proceed with Resetting the password and done with resetting. The Email address is getting registered but we won't receive any confirmation mail and we won't be able to login.

![image](https://user-images.githubusercontent.com/55895538/94401338-6cb58880-01a5-11eb-90c3-d93bda713cc2.png)

![image](https://user-images.githubusercontent.com/55895538/94401475-a6868f00-0

[2020-09-28 07:31] sandhiyakavi commented on #20
Adding to the above: Registration through Google is working. Not able to register using other social links.

[2020-09-28 07:52] sachin-maheshwari commented on #20
As checked quickly, some social accounts github etc are returning user's email. That is root cause.
Note - "gmail" is working fine.

[2020-09-28 08:01] sachin-maheshwari commented on #24
@sandhiyakavi  I think that case, we need to reload the UI and verify again. Issue could be if from other tab cookies are deleted/logout triggered/happened.

[2020-09-28 12:44] sachin-maheshwari commented on #20
@sandhiyakavi  There was configuration issue at auth0.  Fixed for dev tenant. Please verify. github and facebook should work now.

[2020-09-29 05:09] sandhiyakavi commented on #20
@sachin-maheshwari Verified for Facebook and GitHub .Confirmation message is getting displayed now. But Confirmation mail is not received.
[facebook_signup_retest.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5296529/facebook_signup_retest.zip)

If user tries to login using the same facebook account, it is asking again to enter Userhandle and country.

If same userhandle entered ,the

[2020-09-29 05:21] sandhiyakavi commented on #24
@sachin-maheshwari I reloaded the UI and verified again. Below are the observations,

Connect app: Getting blank screen after refresh which should not happen. (similar to community app)

<img width="960" alt="connect_refresh_blank screen" src="https://user-images.githubusercontent.com/55895538/94515467-91216b80-025e-11eb-8977-4573dcd3edb9.png">

OR app: Refresh token error is still displaying in t

[2020-09-29 09:51] sandhiyakavi opened #25 "Firefox: Not able to view the Sign up button in the auth0 popup."
Description:

Not able to view the Sign up button in the auth0 popup. Also No scroll bar is available.

![image](https://user-images.githubusercontent.com/55895538/94543125-98f40680-0284-11eb-86d3-86d27c1d5abc.png)

[2020-09-29 11:21] sandhiyakavi opened #26 "Logout functionality not working in OR app."
Description:

Logout functionality not working in OR app.
[OR_logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5298549/OR_logout.zip)

[2020-09-29 15:19] sachin-maheshwari commented on #26
Fixed for OR on dev - https://github.com/appirio-tech/docker-nginx-supply/commit/3e9275c46fae43c652b8478f7a7072315837f8fd

[2020-09-29 15:25] sachin-maheshwari commented on #24
@sandhiyakavi I fixed something for this. Please verify. Any specific scenario its happening or general ?

[2020-09-29 15:32] sachin-maheshwari commented on #26
Unstable page - https://github.com/topcoder-platform/tc-auth-lib/issues/23 existing in current system as well. Need to control from Nginx end.

[2020-09-29 15:34] sachin-maheshwari commented on #23
will track here - https://github.com/topcoder-platform/tc-auth-lib/issues/26

[2020-09-29 15:34] #23 closed

[2020-09-30 04:19] sandhiyakavi commented on #26
@sachin-maheshwari Verified. Logout in OR app is working now.

[logout_OR_working.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5303103/logout_OR_working.zip)

[2020-09-30 05:07] sandhiyakavi commented on #24
@sachin-maheshwari  As per my observation, this issue exists only in Incognito/private window.( I used Chrome incognito window to test).

In Normal chrome window.It is displaying fine without any error (before as well as after refresh).

<img width="960" alt="After_refresh_Connect app" src="https://user-images.githubusercontent.com/55895538/94645114-fbe9aa00-0325-11eb-92d1-9067b39d4c4d.png">

[2020-09-30 05:40] SathyaJayabal commented on #24
Following error on refreshing the listings page in community app after 10 mins. The error occurs only for chrome incognito mode.
<img width="1440" alt="Screenshot 2020-09-30 at 11 07 16 AM" src="https://user-images.githubusercontent.com/58783823/94647068-575b6e00-030d-11eb-8d64-d59d7f734237.png">

[2020-09-30 06:56] SathyaJayabal commented on #24
@sandhiyakavi @sachin-maheshwari , issue is resolved in chrome incognito mode after updating the chrome settings to allow all cookies (previously 3rd party cookies were blocked in incognito mode0

<img width="1440" alt="Screenshot 2020-09-30 at 12 07 10 PM" src="https://user-images.githubusercontent.com/58783823/94652679-1026aa80-0318-11eb-930b-bb4b89a32b1d.png">

[2020-09-30 10:24] sachin-maheshwari commented on #20
I got the issue for github, firstname and lastname are available in return from github, due to that "ap-notification" (mail sender) falied.
For reference, pasting ap-notification log below -
INFO  [2020-09-29 15:50:44,720] com.appirio.notificationservice.util.event.NotificationEventHandler: Exception JSONObject["firstName"] not found.
ERROR [2020-09-29 15:50:44,721] com.appirio.notificationservice

[2020-09-30 11:55] sandhiyakavi opened #27 "OR app: Login through All open projects page directing user to TC site."
Description:

Login through All open projects page of OR app directing user to TC site.

Steps:
1. Go to
https://software.topcoder-dev.com/review/actions/ListProjects?scope=all
2. Click Login link.
3. Check the redirected url.

Expected result:
User should again land on the All open projects page of OR app.

[OR_Allopenprojects_page.zip](https://github.com/topcoder-platform/tc-auth-lib/files/53051

[2020-09-30 12:39] sachin-maheshwari commented on #27
@sandhiyakavi fixed.

[2020-09-30 13:47] sachin-maheshwari commented on #24
@sandhiyakavi lets close this issue ?

[2020-09-30 13:50] sachin-maheshwari commented on #20
@sandhiyakavi also checked for facebook, its working fine for me if i configured unique email (not already present at tc database). And got activation email too.

So finally issue is :  **github, activation mail not received**.   root cause already shared above.

[2020-09-30 17:15] sachin-maheshwari commented on #20
For github first and last name issue, as per internal team discussion, at the time registration, we will show additional fields first and last name along with handle and country and capture that information from intermediate page. CC: @mtwomey

[2020-10-01 04:27] sandhiyakavi commented on #27
@sachin-maheshwari Verified. After login the page is now redirected to main OR page.(My projects page).

[OR_login_redirection.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5309467/OR_login_redirection.zip)

[2020-10-01 05:01] #24 closed

[2020-10-01 05:12] #27 closed

[2020-10-01 05:50] SathyaJayabal commented on #14
no more valid, as we do not have a popup window now

[2020-10-01 05:50] #14 closed

[2020-10-01 06:17] sandhiyakavi commented on #20
@sachin-maheshwari The registration through Twitter account is also failing. Getting below screen and no confirmation message or mail is received.

![image](https://user-images.githubusercontent.com/55895538/94774439-e6918000-03f8-11eb-8b33-806e2d83eaa3.png)

[Registration_through Twitter.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5309794/Registration_through.Twitter.zip)
[Twiiter

[2020-10-01 06:45] sachin-maheshwari commented on #20
As checked quickly, Twitter is not sharing email. That is root cause. We need to handle this special case differently.

[2020-10-01 08:01] drasticdpk opened #28 "Add New outh flow for Help APP"
https://help.topcoder.com/hc/en-us

[2020-10-01 10:22] sandhiyakavi commented on #7
Verified. Logout is working now.

[Logout_functionaity.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5311180/Logout_functionaity.zip)

[2020-10-01 11:28] sandhiyakavi commented on #13
All contents getting displayed with the new popup login/signup modal.

![image](https://user-images.githubusercontent.com/55895538/94803695-a6e08d80-0424-11eb-9da9-332ce716bdca.png)

[2020-10-01 12:46] drasticdpk opened #29 "Hide Change password/email functionality for Social Logged in user."
Reference:
This is connect app with social login acc. This page/window does not make give any sense for now.
![image (1)](https://user-images.githubusercontent.com/25297859/94810786-3598de80-0414-11eb-82f3-f932660adb08.png)

[2020-10-05 05:00] sandhiyakavi commented on #1
@sachin-maheshwari : If user signup from Connect app, user is returning to "https://www.topcoder-dev.com/start" instead of Connect url.
So is it like user will be return to Connect only if signed up from TC link (www.topcoder-dev.com ->I'm a customer) ? Please clarify the doubt.

[connect_redirecturl.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5325299/connect_redirecturl.zip)

<img

[2020-10-05 05:33] sandhiyakavi opened #30 "Community app: Logout in Payments[legacy] page fails."
Description:
  Logout in Payments[legacy] page (https://community.topcoder-dev.com/PactsMemberServlet?module=PaymentHistory&full_list=false)  of Community app fails.

[Community_payment_logout_fails.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5325435/Community_payment_logout_fails.zip)

[2020-10-05 06:00] sandhiyakavi opened #31 "Registration: Harcoded text in Welcome mail"
Description:

Able to view Harcoded text in Welcome mail .

![image (6)](https://user-images.githubusercontent.com/55895538/95044750-359e2480-071b-11eb-8efd-8634d6db0a35.png)

[2020-10-07 07:43] sandhiyakavi opened #32 "Community app: User details not displayed after logging in using auth0."
Description:

User details not displayed after logging in community app using auth0.

<img width="959" alt="community_loginissue" src="https://user-images.githubusercontent.com/55895538/95301678-e0e5df80-08bb-11eb-9da7-a7b4954ef2bb.png">

![image](https://user-images.githubusercontent.com/55895538/95301706-ee02ce80-08bb-11eb-98b8-b42baa3c2c86.png)

[2020-10-07 08:47] sandhiyakavi opened #33 "Not able to login Arena."
Description:

Not able to login Arena. It is loading for a long time. Also getting console error ERR_cert_Date_Invalid

<img width="960" alt="arena_notloggingin" src="https://user-images.githubusercontent.com/55895538/95308630-1fcc6300-08c5-11eb-9fb4-76620bcd7a61.png">

[2020-10-07 09:41] #13 closed

[2020-10-07 09:41] #7 closed

[2020-10-07 09:41] #3 closed

[2020-10-08 06:10] codejamtc opened #34 "Error messages are not visible"
![image](https://user-images.githubusercontent.com/42398485/95421383-0675f600-095b-11eb-8fd0-233216d2dc7b.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Click Login

### Actual behavior
- Error messages are not visible

### Expected behavior
- Should

[2020-10-08 06:12] codejamtc opened #35 "When user click Logout; page won't redirected to the login page"
![image](https://user-images.githubusercontent.com/42398485/95421579-4806a100-095b-11eb-9c81-94735c80253f.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Login using FB accounts
3. Logout

### Actual behavior
- When user click Logout; page won't redir

[2020-10-08 08:23] codejamtc opened #36 "User is not able to login with the Twitter account"
![image](https://user-images.githubusercontent.com/42398485/95433233-4ba32380-096d-11eb-80f4-92dc85db37d0.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Login using Twitter accounts

### Actual behavior
- User is not able to loin with the Twitter acc

[2020-10-08 08:24] codejamtc opened #37 "User is getting topcoder handle and country popup always while login"
![image](https://user-images.githubusercontent.com/42398485/95433559-bb191300-096d-11eb-88ce-84e79bc2404b.png)

### Steps to reproduce the problem

**NOTE: You should have two accounts;**
1. testgoogle@gmail.com (Handle `testgoogle`) - Register account via Google (testgoogle@gmail.com have a Google account and Github account)
2. testgithub@gmail.com (Handle `testgithub`) - Register account via Git

[2020-10-08 09:54] sandhiyakavi opened #38 "User is asked to choose Userhandle and country while logging using Social sites(with registered Email address)."
Description:

User is asked to choose Userhandle and country while logging using Social sites with the already registered Email address.

Steps to Reproduce:

1. Signup to Topcoder using an Email address.
2. Login using Social site(GitHub) that is using the same already registered Email address.
3. Check after login GitHub, Userhandle and country textbox will appear.

Expected result:
No Userhandl

[2020-10-08 09:56] sandhiyakavi commented on #38
closing since duplicate issue

[2020-10-08 09:56] #38 closed

[2020-10-09 04:40] codejamtc opened #39 "User data is not displayed after login; If user tries to register an account with already associated social login"
### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Click Sign Up
3. Select GitHub (User should already be logged in to Github; and the user should have a topcoder account associated with that email)
4. Select the Country and Handle
5. Click Continue
6. Check t

[2020-10-09 08:03] codejamtc opened #40 "Registration page validation messages are not displayed properly"
![image](https://user-images.githubusercontent.com/42398485/95558512-f4b45180-0a33-11eb-8910-e28f2a40807b.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Click Sign Up
3. Click Sign Up

### Actual behavior
- Registration page validation messages are n

[2020-10-09 08:37] codejamtc opened #41 "Some countries on the country list is not visible"
![image](https://user-images.githubusercontent.com/42398485/95561697-bc634200-0a38-11eb-8c13-ce1f28618236.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https%3A%2F%2Fqa-community-app.topcoder-dev.com%2Fmembers%2FTonyJ&utm_source=community-app-main
2. Click Sign Up
3. Click Country field
4. Go to last item

### Actual behavior
- Some countries on

[2020-10-12 09:12] sandhiyakavi opened #42 "Getting App not setup error while trying to login using Facebook account."
Description:

Getting App not set up error while trying to login using Facebook account.

Steps:
1. Click fb icon in Login popup.
2.Enter credentials and login facebook.

Actual result:
App not set up error is displayed.

![image (7)](https://user-images.githubusercontent.com/55895538/95728375-6b608180-0cb6-11eb-89a6-67309e9d79ac.png)

[2020-10-13 04:09] sandhiyakavi commented on #8
closing the issue as the cosmetic issue is tracked separately in issue https://github.com/topcoder-platform/tc-auth-lib/issues/40

[2020-10-13 04:09] #8 closed

[2020-10-13 09:59] sandhiyakavi commented on #36
Closing the issue as Twitter account is not supported.

[2020-10-13 09:59] #36 closed

[2020-10-14 10:47] codejamtc opened #43 "[WM] When I tried to login with my normal account using Social Login (FB); error shown"
![image](https://user-images.githubusercontent.com/42398485/95978975-91ae2a80-0e38-11eb-8f36-318c1f40804b.png)

[code]

[Log.txt](https://github.com/topcoder-platform/challenge-engine-ui/files/5377550/Log.txt)

[2020-10-14 11:09] codejamtc opened #44 "[WM] When I try to login with an existing Copilot account; I am not able to login"
[1.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5377683/1.zip)

![image](https://user-images.githubusercontent.com/42398485/95981153-d7202700-0e3b-11eb-9995-3b02059ff70b.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https://challenges.topcoder-dev.com/
2. Click Log In
3. Enter TCConnCopilot and Password
4. Click Login

### Actual b

[2020-10-14 12:09] sandhiyakavi commented on #30
Verified. Logout in Payment page is working.

[Payment_logout_pass.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5378056/Payment_logout_pass.zip)

[2020-10-14 12:36] sandhiyakavi opened #45 "WM url redirecting to old login page."
Description:
WM url redirecting to old login page.

![image](https://user-images.githubusercontent.com/55895538/95989414-35adcb00-0e65-11eb-878c-04afa21ee801.png)
[WM_old_login_form.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5378196/WM_old_login_form.zip)

[2020-10-14 12:50] sachin-maheshwari commented on #45
Somebody deployed dev branch. so invalid, closing..

[2020-10-14 12:50] #45 closed

[2020-10-15 06:45] sachin-maheshwari commented on #44
@codejamtc what is your handle ? looks like your account is associated with any common email.

[2020-10-15 08:49] sachin-maheshwari commented on #43
FB is broken even on prod. I'll suggest to try any different a/c.

[2020-10-15 10:01] sandhiyakavi commented on #20
verified. Signup working for all social sites.

[Google_signup.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5383968/Google_signup.zip)
[GitHub_signup.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5383969/GitHub_signup.zip)
[facebook_signup.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5383971/facebook_signup.zip)

[2020-10-16 06:37] codejamtc commented on #44
@sachin-maheshwari I tried `TCConnCopilot` and `copilot_codejam`

[2020-10-16 07:01] sandhiyakavi opened #46 "Getting Server Error in some pages of Direct app."
Description:

Getting Error in some pages of Direct app.

1. Clicking on the Project name in Dashboard page (https://www.topcoder-dev.com/direct/projectOverview?formData.projectId=7377)

<img width="960" alt="ProjectOverview_page" src="https://user-images.githubusercontent.com/55895538/96223150-6b1ef980-0fc8-11eb-965b-ef38266c7718.png">

2. Copilot Page.

<img width="960" alt="Copilotpage_504 erro

[2020-10-16 08:02] codejamtc commented on #44
@sachin-maheshwari Fixed
Please grant me permission to assign labels and edit labels

[2020-10-16 09:06] sandhiyakavi commented on #37
Similar is happening for Facebook and GitHub if user tries to login using social sites with the already registered email address

[Github_login.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5390421/Github_login.zip)
[fb_login.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5390422/fb_login.zip)

[2020-10-16 09:59] sachin-maheshwari commented on #44
done.

[2020-10-16 10:07] codejamtc commented on #34
![image](https://user-images.githubusercontent.com/42398485/96245864-745a9700-0fc5-11eb-9806-421ba447a1e0.png)

[2020-10-16 10:08] codejamtc commented on #35
Now redirected to https://www.topcoder-dev.com/

[2020-10-19 06:17] codejamtc opened #47 "Auth0 Registration Password related issues"
![image](https://user-images.githubusercontent.com/42398485/96408227-ae63ad00-1200-11eb-9760-463ce547503d.png)
![image](https://user-images.githubusercontent.com/42398485/96408256-bfacb980-1200-11eb-8337-4b660c66a982.png)

### Steps to reproduce the problem

1. Open https://accounts-auth0.topcoder-dev.com/?retUrl=https://challenges.topcoder-dev.com/
2. Click Sign Up
3. Entering `dasdQ1` as the pas

[2020-10-19 06:37] codejamtc opened #48 "Validation Use %d-%d letters, numbers and the following characters: "_", ".", "+", "-" goes out of the visible page area."
![image](https://user-images.githubusercontent.com/42398485/96409914-b244fe80-1203-11eb-90df-c4d3d67eca5b.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/
2. Click Sign Up
3. Enter spaces to Username
4. Click Sign Up

### Actual behavior
- Validation Use %d-%d letters, numbers and the following characters: "_", ".", "+", "-"  goes out of the visible page area.

[2020-10-19 07:12] SathyaJayabal commented on #32
fixed
<img width="1440" alt="Screenshot 2020-10-19 at 12 41 54 PM" src="https://user-images.githubusercontent.com/58783823/96412956-81b39380-1208-11eb-9a92-71c7452f2cc3.png">

[2020-10-19 07:15] SathyaJayabal commented on #28
@sachin-maheshwari , is this app in scope?

[2020-10-19 07:38] sandhiyakavi commented on #1
If we signup from Community app challenges page, The return url in activation mail is Community app challenges url instead of start page (https://www.topcoder-dev.com/start )

![image (8)](https://user-images.githubusercontent.com/55895538/96415383-7a50b200-1229-11eb-88af-1209dffaa644.png)

[2020-10-19 07:58] sandhiyakavi opened #49 "Activation mail url throwing 404 Forbidden error"
Description:

Activation mail url throwing 404 Forbidden error.

![image (9)](https://user-images.githubusercontent.com/55895538/96417344-20052080-122c-11eb-8e4d-53d31eec8e65.png)

[2020-10-19 08:05] sandhiyakavi commented on #2
Issue still exists.Allowing space as firstname and lastname.

[signup_space.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5400103/signup_space.zip)

![image](https://user-images.githubusercontent.com/55895538/96418152-4e373000-122d-11eb-95e5-6aa33b4ffefb.png)

[2020-10-19 08:08] sandhiyakavi commented on #4
Verified. Still displayed in Black color.

![image](https://user-images.githubusercontent.com/55895538/96418367-a1a97e00-122d-11eb-947b-449422630066.png)

[2020-10-19 08:22] sandhiyakavi commented on #21
The user is not able to change password now but still password reset mail is sent to the unregistered email id.

<img width="960" alt="password_reset_error" src="https://user-images.githubusercontent.com/55895538/96419797-98211580-122f-11eb-8e9e-7bfdcd72e9af.png">

[2020-10-19 08:24] sandhiyakavi commented on #25
Able to view the Signup button now.

![image](https://user-images.githubusercontent.com/55895538/96420044-f1894480-122f-11eb-865f-20c0ed8bab4c.png)

[2020-10-19 08:28] sachin-maheshwari commented on #49
@sandhiyakavi  Fixed. There was url encoding issue.

[2020-10-19 08:52] sachin-maheshwari commented on #28
Not in our priority, can pick after prod release.

[2020-10-19 08:53] sandhiyakavi commented on #49
Verified.Working now.
[activationurl.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5400423/activationurl.zip)

[2020-10-19 09:24] codejamtc opened #50 "If we try to sign up via GitHub (Email already in the system); app is getting stuck"
[2.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5400630/2.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/
2. Click Sign Up
3. Click GitHub
4. Enter credentials of a GitHub (Github email is already on the system)
5. Authorize and observe

### Actual behavior
- If we try to sign up via GitHub (Email already in the system); app is getting stuck

#

[2020-10-19 10:14] codejamtc opened #51 "If we try to sign up via GitHub (Email is not already in the system); app is getting stuck"
[3.1.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5401018/3.1.zip)
![image](https://user-images.githubusercontent.com/42398485/96432132-15458e00-1222-11eb-9c55-963d62f6eee7.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/
2. Click Sign Up
3. Click GitHub
4. Enter credentials of a GitHub (Github email is not already on the system)
5. Authorize an

[2020-10-19 10:23] sachin-maheshwari commented on #51
@codejamtc that was not any issue, i restricted the "private" email. now allowed, please verify now.

[2020-10-19 10:27] sachin-maheshwari commented on #50
@codejamtc That is related, should be fixed with this issue. https://github.com/topcoder-platform/tc-auth-lib/issues/51

[2020-10-19 10:48] SathyaJayabal commented on #51
@sachin-maheshwari , signup form github is working now.

[2020-10-19 10:51] codejamtc commented on #51
@sachin-maheshwari  I am getting below screen for already registered email (GitHub email = Already registered email) cc @SathyaJayabal

![image](https://user-images.githubusercontent.com/42398485/96441406-1a590c00-1227-11eb-89bc-9eec6f631463.png)

[2020-10-19 10:53] codejamtc commented on #50
@sachin-maheshwari  I am getting below screen for already registered email (GitHub email = Already registered email) cc @SathyaJayabal

![image](https://user-images.githubusercontent.com/42398485/96441406-1a590c00-1227-11eb-89bc-9eec6f631463.png)

When we try to register via Google account; if the email is already in the system; instead of registration, the user is logged in. I think this should h

[2020-10-19 11:02] codejamtc commented on #51
@sachin-maheshwari I am getting the registration form (Handle, First and Last name) and after registration, I can see the registration success page (https://accounts-auth0.topcoder-dev.com/register_success.html)

But I am not getting any emails @SathyaJayabal @sandhiyakavi

[2020-10-19 11:08] codejamtc commented on #50
[4.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5401316/4.zip)

[2020-10-19 11:37] codejamtc commented on #37
@sachin-maheshwari Updated the ticket description, Please check

[2020-10-19 11:39] SathyaJayabal opened #52 "User is able to signup mutiple times using same email address"
1. Create an gmail address
2. Create an account with github using the gmail address
3. Signup to topcoder using, github signup option and use the github account created in setp 2.
4. Signup to topcoder using google signup using google account created in step 1
5. Signup to topcoder using regular email address using gmail address created in step 3.

We now have three handles  using the same email a

[2020-10-19 11:44] sachin-maheshwari commented on #52
@SathyaJayabal  In which bases you're saying this, i didn't find reported handled is associated with same mail..

[2020-10-19 12:07] SathyaJayabal commented on #52
@sachin-maheshwari , can you see what emails are associated with `picachuigoogle` and `picachuitc`please?

[2020-10-19 12:20] SathyaJayabal commented on #52
@sachin-maheshwari , for the registration through github and topcoder, I can see the same email address. For the registration through google, I dont see the handle in the db, even though I was able to sign up, using a new handle `picachuigoogle`

<img width="1440" alt="Screenshot 2020-10-19 at 5 45 28 PM" src="https://user-images.githubusercontent.com/58783823/96450212-86da0800-1233-11eb-80aa-70d5

[2020-10-19 12:27] #52 closed

[2020-10-19 15:31] sachin-maheshwari commented on #10
Need to remove the current message.

[2020-10-19 15:32] sachin-maheshwari commented on #9
done

[2020-10-19 15:32] #9 closed

[2020-10-19 16:44] sachin-maheshwari commented on #1
@sandhiyakavi @SathyaJayabal  @drasticdpk  Lets collect all "after-activation-url" issues in one master issue ?

[2020-10-19 16:47] sachin-maheshwari commented on #46
@sandhiyakavi that is not related to "new auth flow". This could be existing issue.

[2020-10-19 17:03] sachin-maheshwari commented on #33
That is not related to "new auth". you can verify on prod by this - https://accounts-auth0.topcoder.com/?retUrl=https://arena.topcoder.com

[2020-10-20 07:23] SathyaJayabal commented on #12
verified on dev
[forums.mov.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5406959/forums.mov.zip)

[2020-10-20 07:30] sandhiyakavi commented on #26
The OR app is becoming unstable while trying to login using the project details page (https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30057283).

[flickering image.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5406982/flickering.image.zip)

[2020-10-20 07:48] sandhiyakavi opened #55 "Logout of Scorecard app not working"
Description:

Logout not working in Scorecard app.

[logout_fail_scorecard.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5407096/logout_fail_scorecard.zip)

[2020-10-20 07:53] sandhiyakavi opened #56 "Logging in Scorecard app directing user to Direct app"
Description:

Logging in Scorecard app directing user to Direct app

[redirect_direct app.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5407116/redirect_direct.app.zip)

[2020-10-20 08:06] SathyaJayabal opened #57 "Implement new Auth0 for submission review app"
Implement new Auth0 for submission review app
https://submission-review.topcoder.com/

[2020-10-20 08:42] drasticdpk opened #58 "Does not open login window for Lauscher app in safari"
Test URL : https://lauscher.topcoder-dev.com/
Browser : Safari

Reference
https://snipboard.io/CVR21B.jpg

[2020-10-20 08:43] SathyaJayabal opened #59 "Display message to user to clear cookies and login again after auth0 release"
1. User is logged in through accounts app (old app) in community app
2. Release of auth0 for comm app
3. User accesses Comm app pages

Expected: Display a message instructing the user to clear their cookies and then login again.
Actual: Blank page is displayed.

[2020-10-20 08:50] vikasrohit commented on #59
Can we not send response headers to clear all cookies of our domain when user clicks on logout?

[2020-10-20 08:54] SathyaJayabal commented on #16
@sachin-maheshwari , please see video
I am logging in through my handle : `picachui`, but getting logged in `jaicode`.
jaicode also uses the same email address as picachui.

[42.mov.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5407544/42.mov.zip)

[2020-10-20 09:15] drasticdpk opened #60 "Unable to logout from the system."
Test UrL. : https://accounts-auth0.topcoder.com/?retUrl=https://apps.topcoder.com/forums/
Browser : All
Reference : https://snipboard.io/BvEshm.jpg

[2020-10-20 10:13] sachin-maheshwari commented on #59
@SathyaJayabal i tried as @vikasrohit suggested to clean old cookies. Now its working at my end. Can you please verify quickly without incognito ?

[2020-10-20 10:39] lakshmiathreya opened #61 "Unable to Login to Enterprise Topcoder on Staging"
-- Loaded https://staging-community-app.topcoder.com/__community__/wipro
-- Redirects to this page and is frozen here:
<img width="1280" alt="Screenshot 2020-10-20 at 3 48 15 PM" src="https://user-images.githubusercontent.com/51733042/96575613-99fdde00-12ee-11eb-8b7c-972a87d4ac54.png">

[2020-10-20 10:42] SathyaJayabal commented on #59
@sachin-maheshwari , verified on safari and chrome. Looks good.
User is able to access and use app even when logged in from old accounts app. They are able to logout and then login using new auth0.

[2020-10-20 10:42] #59 closed

[2020-10-20 10:55] sachin-maheshwari commented on #60
@drasticdpk We have not deployed fully on Prod. so this invalid until we deploy fully (all essential services and components).

[2020-10-20 11:12] sandhiyakavi opened #62 "Staging Env: Logout of Community app not working"
Description:

 Logout of Community app not working

[Community_logout_fail.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5408233/Community_logout_fail.zip)

https://staging-community-app.topcoder.com/challenges

[2020-10-20 11:16] SathyaJayabal commented on #62
On firefox.
<img width="1440" alt="Screenshot 2020-10-20 at 4 46 06 PM" src="https://user-images.githubusercontent.com/58783823/96579031-c9631980-12f3-11eb-8f92-d03ab6116718.png">

[2020-10-20 11:27] sachin-maheshwari commented on #61
@lakshmiathreya please move this issue to community app. As this is app (Set-1) specific issue.

[2020-10-20 11:36] sachin-maheshwari commented on #58
Looks like it Safari specific issue. So to avoid confusion (if retUrl is missing) i added an alert message. @drasticdpk please try one more time and lets if issue is due to missing retUrl ?
<img width="1351" alt="Screenshot 2020-10-20 at 5 02 01 PM" src="https://user-images.githubusercontent.com/6467888/96580758-658e2000-12f6-11eb-95c4-62a038f24bec.png">

[2020-10-20 13:30] lakshmiathreya opened #63 "Dev Env: Topgear SSO new user unable to register"
-- In order to simulate a new SSO user scenario for Topgear - Changed my existing SSO email to 'lakshmi.athreya+ssotest@gmail.com' to make sure it doesn't match with my SSO user 'lakshmi.athreya@topcoder.com'.
-- Removed this user from Wipro-all.
-- Logged into https://topgear.topcoder-dev.com - taken to Wipro adfs login as expected.
-- Upon logging into Wipro with my adfs credentials la20087117@w

[2020-10-20 14:04] sachin-maheshwari commented on #63
@lakshmiathreya for enterprise customer there is no need of activation email. So looks like invalid issue.

[2020-10-20 14:09] sachin-maheshwari commented on #56
@SathyaJayabal  scorecard is least use application. Latest down its priority.

[2020-10-20 14:09] sachin-maheshwari commented on #55
@SathyaJayabal  scorecard is least use application. Lets down its priority.

[2020-10-20 14:13] sachin-maheshwari commented on #61
@lakshmiathreya please close it here and open at community app.

[2020-10-20 15:08] sachin-maheshwari commented on #26
It is working fine at my end. Please recheck.

[2020-10-20 15:49] sachin-maheshwari commented on #16
As checked on Dev DB, 'email@domain.com.z' email id is associated with more than 80K user. And "new auth", for accessing roles we are fetching it from email id, so its failing due to timeout.

[2020-10-21 04:33] mtwomey commented on #63
Agree email is not intended to be sent for enterprise account, should this one close?

[2020-10-21 04:37] mtwomey commented on #57
We can do this second set, but is it in your list @sachin-maheshwari ?

[2020-10-21 04:40] mtwomey commented on #56
Agree - low priority

[2020-10-21 04:41] sandhiyakavi commented on #26
@sachin-maheshwari This issue is intermittent one. It is working sometimes and sometimes not.

Today also I faced the same issue.

[flickering.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5413291/flickering.zip)

[2020-10-21 04:42] mtwomey commented on #39
Let's compare to existing behavior to understand if this is related to the new auth or just a general issue?

[2020-10-21 04:48] mtwomey commented on #37
I see - so two different social accounts, and both social accounts have the same email-of-record for the person. However if you sign in different times with both those accounts, it gets treated like two separate accounts on the Topcoder side. I think this is also the existing behavior, can we verify if that's the case?

[2020-10-21 05:00] mtwomey commented on #33
@sachin-maheshwari Can you confirm that after the cut-over, going to:

`http://arena.topcoder.com/`   will take the user to ->
`https://accounts-auth0.topcoder.com/?retUrl=https://arena.topcoder.com` ?

[2020-10-21 05:01] mtwomey commented on #31
Please confirm if this is new behavior for the new auth or if it is existing behavior.

[2020-10-21 05:05] mtwomey commented on #26
@sachin-maheshwari I'm marking this one as must-fix because, really - we either have to have high confidence that it won't happen, or we need to identify and fix. If users start complaining of this after the cut-over and the only fix for them is to clear their browser cache, that will force us to roll-back the cut-over (and we don't want to do that).

[2020-10-21 05:07] mtwomey commented on #22
This one is expected behavior for now - closing.

[2020-10-21 05:07] #22 closed

[2020-10-21 05:11] sachin-maheshwari commented on #33
@mtwomey it is going even on dev now, please try this - https://arena.topcoder-dev.com/  This is controlled from docker-supply.

[2020-10-21 05:12] mtwomey commented on #16
I'm confused about the failing part? In the video it looks like it succeeds, it just is associating a different account with the login? Marking must-fix for now until we understand this a little better. @SathyaJayabal I am unfamiliar with these accounts with the same email. When or where do we have that happening to your knowledge?

[2020-10-21 05:15] SathyaJayabal commented on #16
@mtwomey , I think previously users were allowed to register multiple times with the same email id (a few years back I think).

What @sachin-maheshwari had suggested was to first find out how many accounts are there in production which do not have a unique email address and then decide on how to fix this.

[2020-10-21 05:24] mtwomey commented on #16
@SathyaJayabal I am unclear on why / if this is related to email. I'm watching your video and see you logging in with a username, not an email. The DB connection in auth0 passes that username & password to our identity endpoint. So I'm unclear on how might relate to the email address at all?

Is it possible that this issue (you getting logged in as a different user) is something else and not relat

[2020-10-21 05:36] SathyaJayabal commented on #16
@mtwomey, both those handles use the same  email address, and the new auth0 requires unique email accounts for each account. So I concluded that even though I used my handle, the auth0 may have used the email of the account to identify the account and which, may have caused the incorrect logging in.

But you are correct, there could be a chance it is due to something else.

[2020-10-21 06:01] drasticdpk commented on #58
@sachin-maheshwari , Now we can get alert message, but the issue has not fixed yet, right ?
now we can get
Reference :
![image](https://user-images.githubusercontent.com/25297859/96679237-fca8b580-1392-11eb-85d9-9afc666e28d6.png)

[2020-10-21 06:04] SathyaJayabal commented on #33
@sachin-maheshwari ,
1. Opening `https://arena.topcoder-dev.com/`  opens the login screen, but after login , getting redirected to `https://www.topcoder-dev.com/` instead of arena.
Using `https://accounts-auth0.topcoder.com/?retUrl=https://arena.topcoder.com` directly redirects the user to `https://arena.topcoder-dev.com/` correctly.

2. If we access Arena on dev `https://arena.topcoder-dev.com/`

[2020-10-21 06:36] sachin-maheshwari commented on #16
Need to change in Identity service

[2020-10-21 11:22] sandhiyakavi commented on #1
Verified on Staging. The return URL for signup from Community is correctly displaying as Start page.

<img width="1440" alt="Screenshot 2020-10-21 at 4 41 23 PM" src="https://user-images.githubusercontent.com/55895538/96713110-0eae4680-13db-11eb-9a6e-a4872c7ed4cc.png">

[2020-10-21 11:38] SathyaJayabal commented on #31
Mail looks good in prod
[Gmail - Welcome to Topcoder.pdf.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5415543/Gmail.-.Welcome.to.Topcoder.pdf.zip)

[2020-10-21 12:53] sachin-maheshwari commented on #33
@SathyaJayabal thank you! Lets add QA pass label ?

[2020-10-21 12:55] SathyaJayabal commented on #33
@sachin-maheshwari , see point 1
Opening https://arena.topcoder-dev.com/ opens the login screen, but after login , getting redirected to https://www.topcoder-dev.com/ instead of arena.

[2020-10-22 04:29] sandhiyakavi commented on #26
Verified. Login and Logout is working fine now

[OR_auth0_pass.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5420058/OR_auth0_pass.zip)

[2020-10-22 07:34] sandhiyakavi opened #66 "Google signup not taking the Username provided by the user."
Description:

Google signup not taking the username provided by the user.

Actual Result:

It is taking user name from the mail id provided

Example: If Email id: sampleid@gmail.com .It is taking user handle as sampleid irrespective of the one provided by the user.

![image](https://user-images.githubusercontent.com/55895538/96839284-ed556500-1483-11eb-9933-6662aaf10736.png)

![image](https://user

[2020-10-22 07:48] sandhiyakavi opened #67 "Activation mail's return URL issues"
Description:

Activation mail return url for Community app is different for Google and Direct signup.

Google Signup -> Getting Start page
Direct Signup -> Getting Community app's challenge listing page.

![image](https://user-images.githubusercontent.com/55895538/96840925-1119aa80-1486-11eb-9cc8-c6646349c39f.png)

![image](https://user-images.githubusercontent.com/55895538/96841012-2a225b80-1486-

[2020-10-22 07:49] #1 closed

[2020-10-22 08:24] sandhiyakavi opened #68 "Activation mail not received for GitHub signup"
Description:

Activation mail not received for GitHub signup

[github_signup.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5421311/github_signup.zip)

[2020-10-22 08:27] sachin-maheshwari commented on #67
@sandhiyakavi lets cover all scenarios like from connect-app and "join topcoder" from footer and if you at any challenge detail and login (new registration).

[2020-10-22 08:32] sachin-maheshwari commented on #33
@SathyaJayabal fixed. Please verify.

[2020-10-22 08:57] SathyaJayabal commented on #33
verified on dev
[arena.mov.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5421535/arena.mov.zip)

[2020-10-22 10:49] SathyaJayabal opened #69 "Google sign in requests for MFA on prod"
Google sign in requests for MFA on prod.
<img width="1440" alt="Screenshot 2020-10-22 at 3 11 18 PM" src="https://user-images.githubusercontent.com/58783823/96861822-458b6780-1482-11eb-8039-880e92ddee51.png">

@sachin-maheshwari , This was working fine few hours back.

[2020-10-22 11:28] SathyaJayabal commented on #69
verified on prod(staging)

[2020-10-22 12:00] sachin-maheshwari commented on #69
Anyway it is not related to our "new auth" changes. Support team enabled MFA at Auth0 by mistake.

[2020-10-22 12:18] SathyaJayabal commented on #69
@sachin-maheshwari , closing this issue as its not related to auth0

[2020-10-22 12:18] #69 closed

[2020-10-22 14:30] sachin-maheshwari commented on #63
@lakshmiathreya should be fixed now. correct ?

[2020-10-22 14:37] sachin-maheshwari commented on #62
<img width="1680" alt="Screenshot 2020-10-22 at 8 05 58 PM" src="https://user-images.githubusercontent.com/6467888/96887307-184eb180-14a2-11eb-96e0-378071b7e925.png">
Once we deploy the docker-supply on production it will be fixed.

[2020-10-22 15:25] lakshmiathreya commented on #63
New User registration successful for Topgear. However, in the Join Topcoder form - I chose "lakshmiwipro" as my handle - I see handle as "lakshmi.athreya" here: Pls clarify @sachin-maheshwari
<img width="1655" alt="Screenshot 2020-10-22 at 8 53 08 PM" src="https://user-images.githubusercontent.com/51733042/96893768-af1e6c80-14a8-11eb-879d-53440c022c49.png">

[2020-10-22 15:27] lakshmiathreya commented on #63
If account name is the default handle being pre-selected for a new Enterprise user - then the handle field in the Join Topcoder form may be unnecessary.

[2020-10-23 03:17] sachin-maheshwari commented on #16
@mtwomey as discussed, if you login (regular) from handle, I am picking roles and other info from handle instead of email id. Changes deployed on Identity Service for Dev, will move changes to production by today.
@SathyaJayabal please check now.

[2020-10-23 05:50] sandhiyakavi commented on #16
@sachin-maheshwari Able to correctly login in with the appropriate userhandles used. Verified on Dev with the below Userhandles which share the same email ID topcoderconnect@gmail.com

1.  TCConProgramMgr , Registered Email ID: topcoderconnect+ProgramMgr@gmail.com
2.  TCConnCopilot , Registered Email ID: topcoderconnect+Copilot@gmail.com
3. topcoderconnect , Registered Email ID: topcoderconnect@gm

[2020-10-23 05:55] sachin-maheshwari commented on #16
@sandhiyakavi looks correct to me. We can change label to qa-pass ?

[2020-10-23 06:13] sachin-maheshwari commented on #16
@sandhiyakavi production deployment done. Its ready for QA-Staging.

[2020-10-23 06:57] sandhiyakavi commented on #67
@sachin-maheshwari I have added all the expected return url's (Current behaviour) in this sheet https://drive.google.com/file/d/19FHrkfNWF4GlV4a9NKglp4T5ZdWYSttC/view?usp=sharing

Please review and let me know for any clarification.

[2020-10-23 08:22] sandhiyakavi commented on #16
@sachin-maheshwari Able to correctly login in with the appropriate userhandles used. Verified on Staging with the below Userhandles which share the same email ID topcoderconnect@gmail.com

CustomerUser , Registered Email ID: topcoderconnect@gmail.com
TCConnCopilot , Registered Email ID: topcoderconnect+Copilot@gmail.com

[Prod_multiple_handle.zip](https://github.com/topcoder-platform/tc-auth-lib/f

[2020-10-23 11:29] sandhiyakavi opened #71 "Google login in Mobile device fails"
Description:

Google account login in mobile device is failing. Getting below screen

<img width="275" alt="Mobile_Google_login" src="https://user-images.githubusercontent.com/55895538/96998286-2833c780-156e-11eb-8a71-77ea18cd80a9.png">

Device information:

Phone : iPhone 7
Version: 12.2
Browser: Chrome

[2020-10-26 05:14] sandhiyakavi commented on #68
Verified .GitHub signup is working now.

[GitHub_signup_Pass.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5436923/GitHub_signup_Pass.zip)

[2020-10-26 06:06] sdgun opened #73 "User has to scroll down to see the log in button in Android"
**Steps**
Go to https://staging-community-app.topcoder.com/challenges
Click LOGIN

The Log In UI is loaded but the Log In button is far below, the User has to scroll down to see it

![image](https://user-images.githubusercontent.com/4592712/97139955-b16f1800-1781-11eb-8a55-0957237ad042.png)

[2020-10-26 06:47] sdgun opened #74 "Key pad is opened by default in sign up page and the Sign up button is not displayed on the default visible area of the page"
**Steps**

1. Go to https://staging-community-app.topcoder.com/challenges
2. Click LOGIN
3. Clock Sign Up button

The key pad is opened by default when opening the page

4. Tap on the screen to hide the key pad

The Sign Up button is not visible

5. Click on Log in

Still the key pad is displayed

In IOS, the key pad is not opened by default and the Sign up button is visible

![image](https://user

[2020-10-26 08:29] codejamtc opened #75 "Login page is not loading"
![image](https://user-images.githubusercontent.com/42398485/97135214-b4640b80-1775-11eb-806a-7bb6f873ac69.png)

![image](https://user-images.githubusercontent.com/42398485/97150631-68748f00-1794-11eb-8977-181d4a2afe4f.png)

### Steps to reproduce the problem

- Open the URL https://accounts-auth0.topcoder.com/?retUrl=https://connect.topcoder.com
- Observe

[code]

### Actual behavior
- Login page

[2020-10-26 12:17] codejamtc opened #76 "Token Refresh is not working in FF for Auth0 - Set-2"
![image](https://user-images.githubusercontent.com/42398485/97170543-e1ceaa80-17b1-11eb-9d4e-c7cf62523fd8.png)

1. Login to the app ([Payment](https://payment.topcoder-dev.com/), [Topcoder X](https://x.topcoder-dev.com/)
2. Check the token; after 10-15mins
3. Still the old token displayed

[2020-10-26 12:18] drasticdpk opened #77 "X.Topcoder : Unable to open in Safari browser."
**Test URL** :  https://x.topcoder-dev.com/
**Browser** : Safari
**Reference** : https://snipboard.io/CRlgnu.jpg

[2020-10-26 12:20] drasticdpk commented on #58
Update : We got the same issue on
 https://payment.topcoder-dev.com/

[2020-10-26 13:01] sachin-maheshwari commented on #76
@codejamtc On other browser, are these working ?

[2020-10-26 13:02] sachin-maheshwari commented on #76
<img width="1680" alt="Screenshot 2020-10-26 at 6 30 27 PM" src="https://user-images.githubusercontent.com/6467888/97175402-7688d680-17b9-11eb-8817-2c54b1be9371.png">
I checked randomly Vanilla Forum, token is refreshing from me on DEV for Chrome browser.

[2020-10-26 13:03] codejamtc commented on #76
@sachin-maheshwari I checked Edge, it is working properly. FF it is not

[2020-10-26 13:26] codejamtc commented on #76
@sachin-maheshwari I checked again, for [Forums ](https://vanilla.topcoder-dev.com/)- It's working now

[2020-10-26 13:27] sachin-maheshwari commented on #76
@codejamtc so finally what is not working on which browser ?

[2020-10-26 13:30] codejamtc commented on #76
@sachin-maheshwari You can ignore this ticket; Chrome, Firefox, Edge - All working

[2020-10-26 14:02] codejamtc commented on #76
@sachin-maheshwari This is applicable for Payment, Topcoder X for Firefox browser

[2020-10-26 14:13] #76 closed

[2020-10-27 03:44] sdgun commented on #68
@sachin-maheshwari I tried the Github sign up in Android and it is still not sending the activation email.
Github account used - sdguntcqagithub@gmail.com
Topcoder user name - sdguntcqagh1

Note- Tried activating account by accessing Github from Log in page

[2020-10-27 05:18] sdgun commented on #71
Verified in IOS and Android, Google account login is successful.

Phone : iPhone 6S
Version: 13.4
Browser: Chrome

Phone : Andriod Google Pixel XL
Version: 10
Browser: Chrome

[2020-10-27 05:32] SathyaJayabal commented on #77
verified on dev
<img width="1440" alt="Screenshot 2020-10-27 at 10 22 22 AM" src="https://user-images.githubusercontent.com/58783823/97258419-623aed00-183e-11eb-845c-46ee2f3b3f89.png">
<img width="1440" alt="Screenshot 2020-10-27 at 10 22 38 AM" src="https://user-images.githubusercontent.com/58783823/97258520-91e9f500-183e-11eb-8adc-c61b2dfe9aea.png">

[2020-10-27 05:55] SathyaJayabal opened #79 "Payment app: login not working for safari browser"
https://payment.topcoder-dev.com/
login not working for safari browser
<img width="1440" alt="Screenshot 2020-10-27 at 11 22 31 AM" src="https://user-images.githubusercontent.com/58783823/97262490-f1e49980-1846-11eb-81ac-c3f16849e03e.png">

[2020-10-27 05:56] sdgun commented on #66
Verified, this issue is not still fixed.

![image](https://user-images.githubusercontent.com/4592712/97262618-3e2fd980-1847-11eb-9c34-bd3c96e52e21.png)

![image](https://user-images.githubusercontent.com/4592712/97262630-45ef7e00-1847-11eb-8fb2-5f16485f96e9.png)

[2020-10-27 10:08] nkumar-topcoder commented on #66
@sdgun   can you please retest this and get back. It should be "account" screen not "basic info"

[2020-10-27 10:59] SathyaJayabal commented on #66
@nkumar-topcoder @sachin-maheshwari , looks to be fixed now.
<img width="1440" alt="Screenshot 2020-10-27 at 4 28 47 PM" src="https://user-images.githubusercontent.com/58783823/97292661-8b28a580-1871-11eb-9d92-fbf18d32c3d8.png">

[2020-10-27 11:17] nkumar-topcoder commented on #73
@sdgun This is not an issue, the scope is "new auth" testing only, The UI design is preexisting and not part of the scope.
FYI @lakshmiathreya @sachin-maheshwari

[2020-10-27 17:34] sachin-maheshwari opened #80 "Marketing Website changes for "new Auth" URLs"
Need to modify two pages -
1)  ./wp-content/themes/tc3-marketing/nav/dark-nav-v2.php (manually at server)
2)   "user selection" (through wordpress console, like below )
<img width="1674" alt="Screenshot 2020-10-27 at 7 51 50 PM" src="https://user-images.githubusercontent.com/6467888/97339541-ba0e3e00-18a8-11eb-9ca9-22349a981b43.png">

<img width="1678" alt="Screenshot 2020-10-27 at 7 51 34 PM" src

[2020-10-28 05:20] codejamtc opened #81 "After the password change confirmation; there is no way to go back to login page"
![image](https://user-images.githubusercontent.com/42398485/97395649-64b74880-190b-11eb-854d-f29134593877.png)

### Steps to reproduce the problem

1. Open https://connect-auth0.topcoder.com
2. Click 'Don't remember your password?'
3. Enter the email > Send email
4. Open the email and click on the link
5. Enter the new password and click Change
6. Observe

### Actual behavior
- After the password

[2020-10-28 05:30] codejamtc opened #82 "Register via Social login (Google) will display a different handle after login"
![image](https://user-images.githubusercontent.com/42398485/97396308-cf1cb880-190c-11eb-86ee-8af2b48447b1.png)

### Steps to reproduce the problem

1. Open https://connect-auth0.topcoder.com
2. Click Login
3. Click Sign up > Google Social Login and login as the Google account
4. Enter handle as `codejamtcqag1` and enter the country
5. Register
6. Now Login using the Google account

Don't know whet

[2020-10-28 05:41] SathyaJayabal commented on #82
@codejamtc , is the handle displayed the first part of the google mail address (example : `username` of `username@gmail.com` ?

[2020-10-28 05:42] codejamtc commented on #82
@SathyaJayabal Yes

[2020-10-28 05:43] SathyaJayabal commented on #82
related https://github.com/topcoder-platform/tc-auth-lib/issues/66
happened in comm app too, but fixed now

[2020-10-28 06:27] Kavi2424 commented on #46
Server error occurs while creating a challenge also

![image](https://user-images.githubusercontent.com/72538736/97400223-136e7f80-1932-11eb-9661-95170353cc53.png)

[2020-10-28 08:56] sandhiyakavi opened #83 "Not able to login to scorecard/Direct app after Password changed using the scorecard/Direct app"
Description:

Not able to login to scorecard app after Password changed using the scorecard app. Getting Flickering image (unstable page).

Steps to Reproduce:

1. Reset password from the Scorecard app (https://www.topcoder-dev.com/scorecard)
2. Try to login from the scorecard app with the changed password.

Expected result:
User should be able to login successfully .

Actual result:
Getting flick

[2020-10-28 11:25] sandhiyakavi commented on #83
Similar issue is happening for Direct app

[2020-10-29 08:53] sandhiyakavi commented on #55
Adding to the above, The activation mail's redirection url for scorecard signup is Direct app url

[2020-10-29 09:08] codejamtc opened #84 "Click on the activation link from the email redirect the page to start page"
![image](https://user-images.githubusercontent.com/42398485/97547885-601a8f00-19f4-11eb-8a37-e57498a8f490.png)

### Steps to reproduce the problem

1. Open connect.topcoder-dev.com
2. Click Login
3. Click Sign up > Google Social Login and login as the Google account
4. Enter Handle as `codejamtcqag1` and enter the country
5. Register
6. Click on the activation link (http://link.topcoder.com/ls/cli

[2020-10-29 13:22] drasticdpk opened #85 "Token Refresh is not working for dev Direct app"
**Steps**
1. Log on to direct app with valid credentials.

2. Wait for 10 min and reload the page.

**Reference** :
https://snipboard.io/kDK2Cc.jpg

[2020-10-29 17:07] SathyaJayabal opened #86 "Login issue after password reset form Online Review"
1. access https://software.topcoder.com/
2. click on "Dont remember your password" and reset password using links ent to email
3. Login using new password

expected: user must be logged in
actual: user is not logged in

[2020-10-29 17:09] SathyaJayabal commented on #86
https://drive.google.com/file/d/1akN2OOmvoMoYzF8vlktcXUi6yIC7Xnlb/view?usp=sharing

[2020-10-29 17:17] SathyaJayabal opened #87 "Logout form forums not working"
Need to update logout link from forums
<img width="1440" alt="Screenshot 2020-10-29 at 10 46 37 PM" src="https://user-images.githubusercontent.com/58783823/97608670-a691dd00-1a38-11eb-9b25-9fe895626adc.png">

[2020-10-30 09:20] SathyaJayabal opened #90 "Error when resetting password"
Click on Forgot password from the new auth0 login page
enter your registered email address and click on send email

"WE'RE SORRY, SOMETHING WENT WRONG WHEN REQUESTING THE PASSWORD CHANGE." error is displayed.
<img width="1440" alt="Screenshot 2020-10-30 at 2 43 57 PM" src="https://user-images.githubusercontent.com/58783823/97685770-24003080-1abf-11eb-9868-e31970988bed.png">

[2020-10-30 09:38] SathyaJayabal opened #91 "Users unable to login"
<img width="1440" alt="Screenshot 2020-10-30 at 2 57 56 PM" src="https://user-images.githubusercontent.com/58783823/97689507-b275b180-1ac1-11eb-89ab-8b259851e140.png">

[2020-10-30 12:12] SathyaJayabal commented on #91
resolved. Due to load  on identity service

[2020-10-30 12:12] #91 closed

[2020-10-30 12:12] SathyaJayabal commented on #90
resolved. due to load on identity service

[2020-10-30 12:12] #90 closed

[2020-10-30 12:56] SathyaJayabal opened #92 "Error on Password reset"
When user enters new password to reset their password, the following error is displayed. The new password is reset successfully though.
![image (13)](https://user-images.githubusercontent.com/58783823/97707475-5ae53f00-1add-11eb-9d3d-e50074f557c1.png)

[2020-10-30 15:39] lakshmiathreya commented on #82
Handle selected by user during Registration is not used to set User Handle. Account name seems to be used for Handle creation:
<img width="1330" alt="Screenshot 2020-10-30 at 8 53 12 PM" src="https://user-images.githubusercontent.com/51733042/97725151-d8b44500-1af3-11eb-947e-37fad4508ac6.png">
<img width="1335" alt="Screenshot 2020-10-30 at 8 54 01 PM" src="https://user-images.githubusercontent.co

[2020-11-02 09:35] SathyaJayabal commented on #16
verified on prod

[2020-11-02 09:35] #16 closed

[2020-11-02 09:36] #63 closed

[2020-11-02 09:47] sandhiyakavi commented on #41
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/97853672-c6c4e300-1d3b-11eb-9b19-9b04e6214f0a.png)

[2020-11-02 09:47] #41 closed

[2020-11-02 09:51] sandhiyakavi commented on #40
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/97854037-4357c180-1d3c-11eb-875a-5ceac75878ea.png)

[2020-11-02 09:51] #40 closed

[2020-11-02 10:22] sandhiyakavi commented on #35
Verified on Prod.

[Logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5474219/Logout.zip)

[2020-11-02 10:22] #35 closed

[2020-11-02 10:27] sandhiyakavi commented on #34
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/97857556-45704f00-1d41-11eb-854a-de0d8a0089bd.png)

[2020-11-02 10:27] #34 closed

[2020-11-02 10:38] sandhiyakavi commented on #33
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/97858645-cda32400-1d42-11eb-8a05-1b70fbd48b1b.png)

[2020-11-02 10:38] #33 closed

[2020-11-02 10:40] sandhiyakavi commented on #32
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/97858935-39858c80-1d43-11eb-9a47-3b1859612e2a.png)

[2020-11-02 10:40] #32 closed

[2020-11-02 10:53] sandhiyakavi commented on #30
Verified on Prod.

[Payment_logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5474387/Payment_logout.zip)

[2020-11-02 10:53] #30 closed

[2020-11-02 11:11] sandhiyakavi commented on #26
Verified on Prod.

[OR_logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5474498/OR_logout.zip)

[2020-11-02 11:11] #26 closed

[2020-11-04 07:39] sandhiyakavi commented on #12
Verified on Prod

[2020-11-04 07:40] #12 closed

[2020-11-04 07:42] sandhiyakavi commented on #25
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/98082822-b5efab00-1ebc-11eb-8fa3-9cc8bf3bab63.png)

[2020-11-04 07:42] #25 closed

[2020-11-04 07:51] sandhiyakavi commented on #71
Verified in Prod.

[2020-11-04 07:51] #71 closed

[2020-11-04 08:58] sandhiyakavi commented on #51
Verified.

[github_signup_Prod.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5486629/github_signup_Prod.zip)

[2020-11-04 08:58] #51 closed

[2020-11-04 09:00] sandhiyakavi commented on #49
Verified in Prod.

[2020-11-04 09:00] #49 closed

[2020-11-04 09:01] sandhiyakavi commented on #31
Verified on Prod.

[2020-11-04 09:01] #31 closed

[2020-11-04 09:03] sandhiyakavi commented on #68
Verified in Prod.

[2020-11-04 09:03] #68 closed

[2020-11-04 09:05] sandhiyakavi commented on #50
Verified.

[2020-11-04 09:05] #50 closed

[2020-11-04 09:11] sandhiyakavi commented on #44
Verified in Prod.

![image](https://user-images.githubusercontent.com/55895538/98091638-08cf5f80-1ec9-11eb-913e-7a510757d43d.png)

[2020-11-04 09:11] #44 closed

[2020-11-04 09:22] sandhiyakavi commented on #20
Verified in Prod

[github_signup_Prod.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5486797/github_signup_Prod.zip)
[google_signup_Prod.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5486798/google_signup_Prod.zip)

[2020-11-04 09:22] #20 closed

[2020-11-04 09:23] sandhiyakavi commented on #66
Verified.

[google_signup_Prod.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5486816/google_signup_Prod.zip)

[2020-11-04 09:23] #66 closed

[2020-11-04 09:32] #43 closed

[2020-11-19 13:51] maxceem opened #98 "Infinite loop during local deployment of Connect App, Work Manager and Community App"
Looks like since today this library causes an infinite loop of errors when deploying any client app utilizing this library locally like Connect App, Work Manager, or Community App.

See demo videos:
- Connect App https://monosnap.com/file/p6YodFZESEy7HIvpyziBHNU6fQNaZo
- Work Manager https://monosnap.com/file/sooQ9gXaUrilN8EUh3xgCRYO90Mq5H
- Community App https://monosnap.com/file/rnl8L1cqwA3JVMpK

[2020-11-20 05:17] sachin-maheshwari commented on #98
@maxceem i am attaching code to generate token locally. Please try this in separate tab and use your app on localhost:3000.
[test-app-locally.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5571374/test-app-locally.zip)

[2020-11-20 08:22] maxceem commented on #98
Thanks, @sachin-maheshwari.

This worked for me. So I login using your test app, and after I can use Connect App, though I cannot login using Connect App on `http://localhost:3000` in some reason.

Btw, when I login in the test app, one request fails even after I login, is that expected behavior? See [demo video](https://monosnap.com/file/n63vdPjJsKsBrqFn8xfi6LUzFKoUiJ) and screenshot below.

![im

[2020-11-20 08:47] maxceem commented on #98
Noticed one more thing. After I login using the provided test app, I can open Connect App on `http://localhost:3000` and it works well. But Connect App cannot refresh the token. So after 5 minutes token expires, and I have to clear cookies, stop Connect App and login again using test app.

[2020-11-20 09:28] sachin-maheshwari commented on #98
@maxceem just keep open test app in separate tab. It'll take care of token expiry, also you can download latest code for test app from here - https://github.com/topcoder-platform/tc-auth-lib/blob/dev/web-assets/js/setupAuth0WithRedirect.js

[2020-11-23 08:17] maxceem commented on #98
@sachin-maheshwari this way with the test app opened in another tab works for me.

Would it be also possible to run apps like Connect App and Community App independently? I've tried to run them on `localhost:3000` or `localhost:5000` but they cannot login by themself. Should we make any changes to them?

[2020-11-25 06:11] sachin-maheshwari commented on #98
@maxceem I didn't get fully, i think its simply depending on local setup and application port. I think, in that case you need to change the ACCOUNT_APP url to localhost ?

[2020-11-25 09:50] maxceem commented on #98
@sachin-maheshwari my intention is to run the Connect App locally without running `test-app-locally.zip` app. I'm trying to run Connect App on port `localhost:5000` but login doesn't work. I've recorded a demo video to demonstrate the issue: https://monosnap.com/file/fo6Ga7dAtIG63w5xXviHiH7JRctIeG

What I do:
- Run Connect App locally on the allowed port `5000` using URL `http://localhost:5000` (I

[2020-11-25 12:34] sachin-maheshwari commented on #98
@maxceem just changes "accounts-auth0.topcoder-dev.com" value to your test app URL i.e. http://localhost:5000 and you will be able to use connect-app locally and token will be refreshed.
<img width="1309" alt="Screenshot 2020-11-25 at 6 04 29 PM" src="https://user-images.githubusercontent.com/6467888/100228426-ace87b80-2f48-11eb-9912-7d00f626c152.png">

<img width="1638" alt="Screenshot 2020-11-25

[2020-11-25 13:30] maxceem commented on #98
@sachin-maheshwari thanks, I got it now.

Though I wonder, is it possible to run `Connect App`, `Community App`, `Admin App`, `Work Manager App` locally without the necessity of running `test-app-locally.zip` locally? As it adds one more step for local deployment.

[2020-11-25 13:38] sachin-maheshwari commented on #98
For now, no.

[2020-11-25 14:24] maxceem commented on #98
Got it, thanks!

As I understand `logging-out` is not supported locally for now too. Even when using `test-app-locally.zip` locally, right? For now, it looks like his to me, when I'm trying to logout https://monosnap.com/file/esM8beLw4NZud0ONst1PU2nNtCjiTU.

[2020-11-25 15:14] sachin-maheshwari commented on #98
I'll check this.

Meanwhile you can use this to logout - http://localhost:5000/?logout=true&retUrl=http://localhost:3000/

[2020-11-25 15:32] maxceem commented on #98
Thanks, @sachin-maheshwari. Your URL works for me, I've updated it in the app, so logging out now works for me.

[2020-12-02 18:18] ajefts opened #100 "Terms and Privacy Policy Links"
On the registration page, there is a statement at the bottom that says "By signing up, you agree to our terms...".

Both the terms and privacy policy should be linked to the pages on the site.

https://www.topcoder.com/policy/privacy-policy
https://www.topcoder.com/policy/terms-and-conditions

[2020-12-02 18:19] ajefts commented on #100
fyi @mtwomey @sachin-maheshwari

[2020-12-07 14:16] sachin-maheshwari commented on #100
sure. I'll add this.

[2020-12-08 05:55] sachin-maheshwari commented on #100
done. @ajefts please verify.

[2020-12-08 15:28] sachin-maheshwari opened #101 "If signup action is chosen, auth0 page should open signup option."

[2020-12-08 15:32] sachin-maheshwari commented on #101
attaching video.
[Uploading SignUp.mov.zip…]()

[2020-12-08 15:35] sachin-maheshwari commented on #101
<img width="1680" alt="Screenshot 2020-12-08 at 9 04 10 PM" src="https://user-images.githubusercontent.com/6467888/101504188-eed9de80-3998-11eb-8b62-920c545f8c7d.png">
video -
[SignUp.mov.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5660187/SignUp.mov.zip)

[2020-12-09 08:11] ajaysaini9782 opened #102 "Wrong login URL for online review"
When I click the Login link on Online Review, it redirects to the following which is not a valid URL:

https//accounts-auth0.topcoder.com?retUrl=https://software.topcoder.com/review

[2020-12-09 08:13] ajaysaini9782 commented on #102
Issue reported by copilot Wendell

[2020-12-10 12:34] #100 closed

[2020-12-10 12:36] sachin-maheshwari commented on #102
@ajaysaini9782 what'll be corrected/expected URL ? please share.

[2020-12-10 12:36] #98 closed

[2020-12-10 12:37] sachin-maheshwari commented on #92
@SathyaJayabal please close, should be fixed now.

[2020-12-10 12:39] ajaysaini9782 commented on #102
@sachin-maheshwari
with colons
https://accounts-auth0.topcoder.com?retUrl=https://software.topcoder.com/review

[2020-12-10 12:54] sachin-maheshwari commented on #86
@SathyaJayabal it should be fixed. Please verify now.

[2020-12-10 12:55] sachin-maheshwari commented on #85
@drasticdpk should be fixed now. Please verify and close this.

[2020-12-10 13:08] sachin-maheshwari commented on #102
@ajaysaini9782 Thanks!. Please share screen or link to reach at login button for online review.

[2020-12-10 16:41] ajaysaini9782 commented on #102
@sachin-maheshwari
I have forwarded your query to Wendell. He will share the details.

[2020-12-10 17:32] huangqun commented on #102
Please check https://take.ms/qYpRT

Visit link https://software.topcoder.com/review/actions/ListProjects?scope=all and then click on the Login link on top right corner.

[2020-12-11 04:26] sachin-maheshwari commented on #102
@huangqun i really appreciate it. Thankyou!. i'll fix this.

[2020-12-11 14:50] sachin-maheshwari commented on #87
@mtwomey FYI, looks like we need to change in coressponsig file manually - https://apps.topcoder.com/js/reskin/newTCScript.js at doLogOutTC() function.

[2020-12-14 03:57] sandhiyakavi commented on #92
Verified working as expected.

![image](https://user-images.githubusercontent.com/55895538/102038912-d3912800-3e0b-11eb-96f6-a007b2a2b759.png)

[2020-12-14 03:57] #92 closed

[2020-12-14 04:21] sandhiyakavi commented on #86
@sachin-maheshwari The user is not able to login still.

![image](https://user-images.githubusercontent.com/55895538/102040016-d6d9e300-3e0e-11eb-84c3-88f098c3d1b4.png)
[OR_not logging in.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5686422/OR_not.logging.in.zip)

[2020-12-14 05:38] sachin-maheshwari commented on #86
@sandhiyakavi user unable to change password is not specific to OR. correct ? should be in general for all apps ? I am not getting the issue here. After changing password, user is able to login to other APPs ?

[2020-12-14 05:45] sachin-maheshwari commented on #102
fixed.

[2020-12-14 05:49] sandhiyakavi commented on #86
@sachin-maheshwari We are able to change password. But once after changing it, we are not able to login OR. Able to login in other apps Connect, Community, WM and direct

[2020-12-14 06:01] sachin-maheshwari commented on #86
@sandhiyakavi try now. after changing password, once you click on "Login" link, Auth login screen is coming or not ?

[2020-12-14 06:20] sandhiyakavi commented on #86
@sachin-maheshwari Tried again .Not logging in.Following are the steps done,

1. Change the password.
2. Try to login OR app https://software.topcoder.com
3. Not logging in. Below is the screenshot.
![image](https://user-images.githubusercontent.com/55895538/102046687-258f7900-3e1f-11eb-8ac9-01136df2928e.png)

4. Again clicking the Login in the OR app. Displaying the same screen and login Auth scr

[2020-12-14 06:30] sachin-maheshwari commented on #87
@ajefts we are planning to change manually in this file, we didn't the git repo for same.
File location is -  /mnt/nginx/apache_docs/tcdocs/js/reskin
Server - nginx-supply

[2020-12-14 06:53] sachin-maheshwari commented on #86
@sandhiyakavi Thanks!, only it is not working after changing the password, looking weird.

[2020-12-14 06:54] sdgun opened #103 "User is logged out automatically after 5 minutes from vanilla Forums when logging from mobile devices"
**Steps**

- Log into Forums from https://vanilla.topcoder-dev.com/ from a mobile device(Andoid/iPhone)
- Keep the app idling for 5 minutes
- Tap on any linked text

User has been signed out, and redirect to auth login page and sign in again

The below video was taken after 5 mins of idle time

[OMRG6954.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5686957/OMRG6954.zip)

Device: iPh

[2020-12-17 11:17] #102 closed

[2020-12-17 11:23] sachin-maheshwari commented on #80
@mtwomey we need to pass one more parameter in query string i.e. "mode=signUp"

[2020-12-17 12:29] sachin-maheshwari commented on #87
Fixed. @SathyaJayabal please verify and close this issue.

[2020-12-17 12:30] #85 closed

[2020-12-17 12:31] sachin-maheshwari commented on #84
@codejamtc should be fixed now. Please verify and close this.

[2020-12-17 12:33] sachin-maheshwari commented on #82
@codejamtc can you please verify now.

[2020-12-17 12:35] #75 closed

[2020-12-17 12:37] sachin-maheshwari commented on #67
@sandhiyakavi should be fixed now. Please verify and close.

[2020-12-17 12:37] sachin-maheshwari commented on #62
@sandhiyakavi please verify and close this.

[2020-12-17 14:55] sachin-maheshwari commented on #103
@sdgun same time, what about other apps (connect, WM, community etc) ? that are working fine ?

[2020-12-17 15:14] sachin-maheshwari commented on #103
@sdgun as checked it is working fine for me on my Android mobile.

[2020-12-17 16:04] sachin-maheshwari commented on #10
message already updated. @SathyaJayabal please verify and close this issue.

[2020-12-18 04:32] sandhiyakavi commented on #62
Verified in Prod. Working as expected.
[Communityapp_logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5713670/Communityapp_logout.zip)

[2020-12-18 04:33] #62 closed

[2020-12-18 04:40] sandhiyakavi commented on #87
Verified in Prod. Able to logout.
[OldForum_logout.zip](https://github.com/topcoder-platform/tc-auth-lib/files/5713684/OldForum_logout.zip)

[2020-12-18 04:40] #87 closed

[2020-12-18 04:47] sandhiyakavi commented on #10
@sachin-maheshwari Is the following  the expected message?

![image](https://user-images.githubusercontent.com/55895538/102575864-8b3d7700-4137-11eb-9bac-a5065758e722.png)

[2020-12-18 05:06] sachin-maheshwari commented on #10
Yes, i think user will get the flow once click on the "click here" and reach to the main site and from there he/she can go accordingly.

[2020-12-18 05:18] sandhiyakavi commented on #10
Working as expected. Closing the issue

[2020-12-18 05:18] #10 closed

[2020-12-18 05:19] sandhiyakavi commented on #67
Verified in Prod. Working as expected.

[2020-12-18 05:19] #67 closed

[2020-12-22 10:12] sachin-maheshwari commented on #101
@dmessing this has fixed. Please verify.

[2020-12-22 10:20] sachin-maheshwari commented on #86
Looking similar issue - https://github.com/topcoder-platform/tc-auth-lib/issues/83

[2020-12-22 10:21] sachin-maheshwari commented on #83
looking similer issue - https://github.com/topcoder-platform/tc-auth-lib/issues/86

[2020-12-22 10:21] #83 closed

[2020-12-22 10:22] sachin-maheshwari commented on #82
@lakshmiathreya please get this verified from your team.

[2020-12-22 10:23] #80 closed

[2020-12-22 10:25] #60 closed

[2020-12-22 11:20] sachin-maheshwari commented on #55
As checked deleting scorecard cookie is not working as it is not domain cookie (and also need to check the "path" value). We need to handle this case here - https://github.com/topcoder-platform/tc-auth-lib/blob/dev/web-assets/js/setupAuth0WithRedirect.js#L222

[2021-01-05 05:30] #101 closed

[2021-01-05 05:32] sachin-maheshwari commented on #103
@lakshmiathreya there is no response from your team.

[2021-01-05 05:32] #103 closed

[2021-01-05 06:37] sachin-maheshwari opened #107 "Github login issue"
Issue reported on support team -

Sharathkumar AnbuDec 27, 2020, 12:30 CST - I am not able to access either Topcoder community or Work Manager application.Reason - Something wrong with the logic of getting my handle from Auth0, due to which it's trying to get the member details for handle `sharathkumaranbu` instead of `Sharathkumar92`. `sharathkumaranbu` is actually my Github user name / email.Due

[2021-01-05 06:43] sachin-maheshwari commented on #84
@lakshmiathreya no response from your team.

[2021-01-05 06:43] #84 closed

[2021-01-05 07:46] lakshmiathreya commented on #107
cc @sandhiyakavi @SathyaJayabal pls verify and close this ...

[2021-01-05 07:56] SathyaJayabal commented on #107
Verified with Sharath that the issue is fixed.

[2021-01-05 07:56] #107 closed

[2021-01-05 08:04] sandhiyakavi commented on #107
Verified from QA side.Able to login to WM, Connect and Community app without any issue.

https://user-images.githubusercontent.com/55895538/103620886-a30a5d00-4f77-11eb-8343-135e762cfae9.mp4

https://user-images.githubusercontent.com/55895538/103620899-aa316b00-4f77-11eb-96f3-c42b5824477f.mp4

https://user-images.githubusercontent.com/55895538/103620951-c2a18580-4f77-11eb-85d9-0610dbcc5437.mp4

[2021-01-05 10:09] sachin-maheshwari commented on #82
no response.

[2021-01-05 10:09] #82 closed

[2021-01-05 10:31] #46 closed

[2021-01-05 16:55] #42 closed

[2021-01-05 17:16] sachin-maheshwari commented on #39
Now we are giving this error in pop-up - "Social Registration Error: Email address 'soorooshchabokroo@gmail.com' has already been registered, please use another one. Please retry."

[2021-01-05 17:17] sachin-maheshwari commented on #37
Now we are giving this error in pop-up - "Social Registration Error: Email address 'soorooshchabokroo@gmail.com' has already been registered, please use another one. Please retry."

[2021-01-05 17:17] #37 closed

[2021-01-06 14:20] sachin-maheshwari opened #108 "broken URL issue - for non logged-in user"
After registering any challenge, we generally get the mail like below, where forum and OR link are available.

Hi <handle>,

Congratulations! You are now registered for [Dev][F2F][Challenge2-Dec10] Challenge.

You now have access to the challenge discussion forum ( https://apps.topcoder.com/forums/?module=Category&categoryID=131140 ), which may have important information or documentation(see the D

[2021-01-07 06:04] sachin-maheshwari commented on #39
@codejamtc / @sandhiyakavi please share more information if issue is still persisting or close it please.

[2021-01-07 06:07] #29 closed

[2021-01-07 06:10] #6 closed

[2021-01-07 08:04] sandhiyakavi commented on #39
@sachin-maheshwari Tried the above scenario again. This issue is still existing.

Steps to Reproduce:
1. Signup using GitHub account (There should be already Topcoder account created, with same Email address).
2. Observe the logged in Topcoder app.

1. Profile pic not displayed.
![image](https://user-images.githubusercontent.com/55895538/103866295-e7793280-5108-11eb-96b7-4652cb7159da.png)

2. Gett

[2021-01-07 08:13] sandhiyakavi commented on #39
@sachin-maheshwari Member api is down.(https://topcoder.slack.com/archives/C0K5RSB8E/p1610005617043800)

Will check again.Once its up.

[2021-01-07 08:24] #39 closed

[2021-01-07 12:21] sachin-maheshwari commented on #58
@drasticdpk / @lakshmiathreya "https://lauscher.topcoder-dev.com/" is working fine for me on Safari browser. Please verify and close the issue.

[2021-01-07 12:25] sachin-maheshwari commented on #79
@SathyaJayabal / @lakshmiathreya Login popup is opening for me on Safari. Please verify and close it.

[2021-01-07 12:42] sachin-maheshwari commented on #77
@drasticdpk / @lakshmiathreya its opening for me on Safari. Please re-verify and close this.

[2021-01-07 12:48] drasticdpk commented on #58
@sachin-maheshwari ,
For lausher app, we don't have login window ?
![image](https://user-images.githubusercontent.com/25297859/103894155-9a9c5880-5116-11eb-84e8-5651b5ef1e2c.png)

I am having this window while hitting the given url https://lauscher.topcoder-dev.com/. Correct me if I am getting worng.

![image](https://user-images.githubusercontent.com/25297859/103894219-b43da000-5116-11eb-93c9-bb9

[2021-01-07 13:02] SathyaJayabal commented on #79
@sachin-maheshwari , login is opening in dev.  Is auth0 not yet released for payments app  in prod?

<img width="1440" alt="Screenshot 2021-01-07 at 6 32 02 PM" src="https://user-images.githubusercontent.com/58783823/103895598-a8ea7480-5116-11eb-8e31-39b51e26c59f.png">

[2021-01-07 13:02] sachin-maheshwari commented on #58
@drasticdpk which Safari version and which OS, you are facing this issue ? For me, on MAC its working fine for me.
<img width="1327" alt="Screenshot 2021-01-07 at 6 32 07 PM" src="https://user-images.githubusercontent.com/6467888/103895604-a9830b00-5116-11eb-8c3a-bdd5aa934884.png">

[2021-01-07 13:06] SathyaJayabal commented on #77
@sachin-maheshwari , this is already verified on dev. I dont see new auth0 on prod yet. Is it released for topcoder-x app yet?

we usually close the issue after verification on prod.

[2021-01-07 13:12] sachin-maheshwari commented on #79
@SathyaJayabal i am not sure. I asked same question on "product-team-chatter". Looks like we are not using actively. Let's wait for final response.
<img width="1392" alt="Screenshot 2021-01-07 at 6 39 31 PM" src="https://user-images.githubusercontent.com/6467888/103896352-d97ede00-5117-11eb-9e76-2a6866e640b7.png">

[2021-01-07 13:20] sachin-maheshwari commented on #77
FYI,
<img width="655" alt="Screenshot 2021-01-07 at 6 49 08 PM" src="https://user-images.githubusercontent.com/6467888/103897148-18f9fa00-5119-11eb-91c8-2b5db867b2e9.png">

[2021-01-07 13:23] sachin-maheshwari commented on #79
FYI,
<img width="405" alt="Screenshot 2021-01-07 at 6 53 20 PM" src="https://user-images.githubusercontent.com/6467888/103897495-ab9a9900-5119-11eb-9711-d987db11705c.png">

[2021-01-07 13:25] SathyaJayabal commented on #79
Closing the issue in that case @sachin-maheshwari

[2021-01-07 13:25] #79 closed

[2021-01-07 13:51] lakshmiathreya commented on #108
@SathyaJayabal @sandhiyakavi can you review this in Dev pls?

[2021-01-07 14:33] sachin-maheshwari commented on #57
@SathyaJayabal / @lakshmiathreya i have deployed "new auth" related changes on DEV env. Please verify.

[2021-01-08 04:13] sandhiyakavi commented on #108
Verified with below url. The url is redirecting to auth0 Login page if not logged in.

https://apps.topcoder-dev.com/forums/?module=Category&categoryID=12345
https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30057927

https://user-images.githubusercontent.com/55895538/103973651-409da080-51b3-11eb-8ff9-1b11b9d8cac0.mp4

[2021-01-08 05:06] sandhiyakavi commented on #57
Verified below functionalities in Dev Env. Working as expected.

1. Login
2. Token refresh
3. All page access
4. Log out

[2021-01-08 07:54] sandhiyakavi commented on #108
@sachin-maheshwari Tested in Prod Environment for various tracks. Both Forum and OR URL's are directing correctly to the Auth0 login page.

[2021-01-08 09:49] sandhiyakavi commented on #108
Verified the above issue in Dev Env with below URL's,

https://apps.topcoder-dev.com/forums/?module=Category&categoryID=12345
https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30057927

Forum URL is directing to the appropriate page after login.
OR URL is directing to common page https://software.topcoder-dev.com/review/actions/ListProjects

https://user-images.githubusercont

[2021-01-12 05:57] sachin-maheshwari commented on #57
@sandhiyakavi deployed on Prod. Please verify now.

[2021-01-12 07:30] sandhiyakavi commented on #57
Verified below functionalities in Prod Environment. Working as expected.

Login
Token refresh
All page access
Log out

[2021-01-12 07:45] sachin-maheshwari commented on #57
@sandhiyakavi  Challenges link are broken for me on incognito window.
<img width="1679" alt="Screenshot 2021-01-12 at 1 13 48 PM" src="https://user-images.githubusercontent.com/6467888/104284473-13653100-54d8-11eb-8b8b-0710db660f4c.png">

<img width="1098" alt="Screenshot 2021-01-12 at 1 13 37 PM" src="https://user-images.githubusercontent.com/6467888/104284469-12340400-54d8-11eb-9248-681f4a6b8904

[2021-01-12 10:26] drasticdpk commented on #77
Verified
dev

![image](https://user-images.githubusercontent.com/25297859/104302309-b7f36d00-54f0-11eb-963b-c5fae065d87e.png)

prod
![image](https://user-images.githubusercontent.com/25297859/104301883-40254280-54f0-11eb-88ec-9328f1f53b69.png)

[2021-01-12 10:26] #77 closed

[2021-01-13 08:58] sandhiyakavi commented on #108
@sachin-maheshwari The Forums topics and details are not getting displayed.

![image](https://user-images.githubusercontent.com/55895538/104429003-7a621300-55c8-11eb-9003-41538eb2896b.png)

Same Forum page if opened in already logged in Window.

<img width="960" alt="direct_forum_url" src="https://user-images.githubusercontent.com/55895538/104428830-44249380-55c8-11eb-95c0-0217da5c59cf.png">

OR p

[2021-01-13 09:03] sachin-maheshwari commented on #108
@sandhiyakavi as already discussed, this fix is not applicable to OR (that is existing OR issue).
<img width="1388" alt="Screenshot 2021-01-13 at 2 32 23 PM" src="https://user-images.githubusercontent.com/6467888/104429983-2ea17080-55ac-11eb-8c38-56d8747c47ae.png">

[2021-01-13 10:51] sachin-maheshwari commented on #108
@sandhiyakavi  Now it is working for me, looks like some intermittent issue at legacy forum app.
<img width="1674" alt="Screenshot 2021-01-13 at 4 11 25 PM" src="https://user-images.githubusercontent.com/6467888/104442572-42080800-55bb-11eb-9934-4a4b0fff7905.png">

[2021-01-13 10:53] sachin-maheshwari commented on #58
@lakshmiathreya please get it verify from your team.

[2021-01-13 10:55] #57 closed

[2021-01-13 11:08] sandhiyakavi commented on #108
Verified in Prod.Working as expected.

https://user-images.githubusercontent.com/55895538/104444392-1137cb00-55db-11eb-8e74-3e0588cd1625.mp4

[2021-01-13 12:23] sachin-maheshwari commented on #48
That is issue from lock.js css
<img width="1564" alt="Screenshot 2021-01-13 at 5 52 01 PM" src="https://user-images.githubusercontent.com/6467888/104451830-19d2d600-55c8-11eb-96b2-0f76ee88b035.png">

[2021-01-14 09:21] sandhiyakavi commented on #57
Raised new issue https://github.com/topcoder-platform/submission-review-ui/issues/31 for https://github.com/topcoder-platform/tc-auth-lib/issues/57#issuecomment-758471930

[2021-01-14 16:56] drasticdpk commented on #58
@sachin-maheshwari ,
FYI
![image](https://user-images.githubusercontent.com/25297859/104622645-a0b3ab80-56b9-11eb-8c87-f15e43fe16bb.png)

[2021-01-15 21:47] mtwomey commented on #11
I think this is fixed now, but I also can not reproduce it (even before adding an extra http -> https redifect.

[2021-01-18 10:06] sachin-maheshwari commented on #2
Fixed on Dev and Prod. @sandhiyakavi Please verify and close the issue.

[2021-01-18 11:48] sandhiyakavi commented on #2
Verified in both Dev and Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/104911542-5d657f80-59ce-11eb-810e-9614fae9d698.png)

[2021-01-18 11:48] #2 closed

[2021-01-18 13:45] sachin-maheshwari commented on #56
For not logged-in user, if you access scorecard (which is part of "direct"), redirecting from "direct app", which is not preserving the original url, i think its generic (or preexisting) issue for Direct app, not specific to "new auth" implementation.
<img width="1680" alt="Screenshot 2021-01-18 at 7 11 15 PM" src="https://user-images.githubusercontent.com/6467888/104922654-ff7e6b00-59c0-11eb-8e76

[2021-01-20 12:15] #108 closed

[2021-02-16 03:25] sachin-maheshwari opened #110 "Show 'handle' failure reason on registration pages"
I think on "intermediate" we are showing, need to show at Auth0 'signup' "universal" template.

[2021-02-16 05:20] sachin-maheshwari opened #111 "master ticket - Jira issues"
This is master ticket for tracking all "new auth security" issues -

https://topcoder.atlassian.net/browse/VULN-2195

[2021-03-01 07:04] SathyaJayabal opened #112 "User unable to sign NDA in dev env"
User unable to sign NDA in dev env
test url:
https://www.topcoder-dev.com/challenges/terms/detail/e5811a7b-43d1-407a-a064-69e5015b4900

<img width="1440" alt="Screenshot 2021-03-01 at 12 33 20 PM" src="https://user-images.githubusercontent.com/58783823/109463041-65fbac00-7a8a-11eb-811f-36e1c23ca319.png">

@sachin-maheshwari , can you please take a look at this?

[2021-03-01 07:21] lakshmiathreya commented on #112
cc @drasticdpk @vikasrohit @rootelement ... this is related to https://github.com/topcoder-platform/work-manager/issues/1089

[2021-03-01 11:08] sachin-maheshwari commented on #112
@SathyaJayabal that is not related to auth0, this should be related to "term" service. Please connect with Community team.
<img width="1393" alt="Screenshot 2021-03-01 at 4 38 19 PM" src="https://user-images.githubusercontent.com/6467888/109489215-8b011680-7aac-11eb-9334-0e7e6f102053.png">

[2021-03-01 14:18] rootelement commented on #112
Terms in dev didn't have any body text. I added some and now see them in the URL:
https://www.topcoder-dev.com/challenges/terms/detail/317cd8f9-d66c-4f2a-8774-63c612d99cd4

Please try again. I was able to sign with a basic user who hasn't signed them.

[2021-03-01 15:23] SathyaJayabal commented on #112
@rootelement , thank you. Works fine.

cc @lakshmiathreya

[2021-03-01 15:23] #112 closed

[2021-03-15 17:36] sachin-maheshwari commented on #110
On Dev implemented like following -
<img width="474" alt="Screenshot 2021-03-15 at 11 03 19 PM" src="https://user-images.githubusercontent.com/6467888/111196149-fc7bb180-85e2-11eb-852f-6c4a5fecaad1.png">
<img width="456" alt="Screenshot 2021-03-15 at 11 03 42 PM" src="https://user-images.githubusercontent.com/6467888/111196168-01406580-85e3-11eb-9870-66c0d45592bc.png">
<img width="422" alt="Screen

[2021-03-16 06:08] sachin-maheshwari commented on #110
done.

[2021-03-16 06:08] #110 closed

[2021-03-16 11:49] drasticdpk commented on #111
Verified on Dev mode.
**Reference  After manipulating urls** :https://accounts-auth0.topcoder-dev.com/signup.html?regSource=null&firstName=Cynergy&lastName=Testing&utmSource=null&utmMedium=null&utmCampaign=null&formAction=javascript:alert(document.domain)&returnUrl=https%3A%2F%2Fchallenges.topcoder-dev.com%2F&state=g6Fo2SBTLVRWV1dhUXZUWWxINXdWMWpjYU5oMTB6UFgwb3dZVqN0aWTZIEhoWF94X1lPY3VZMUFldGsyMXZ

[2021-03-23 06:15] drasticdpk commented on #111
**Verified on Prod mode**
![image](https://user-images.githubusercontent.com/25297859/112101729-3d6d5a80-8bcf-11eb-8a90-6c094816ba6f.png)
![image](https://user-images.githubusercontent.com/25297859/112101759-4d853a00-8bcf-11eb-80c7-e2caf6dae1f2.png)

Reference Link : https://accounts-auth0.topcoder.com/signup.html?regSource=tcBusiness&firstName=Cynergy&lastName=Testing&utmSource=null&utmMedium=nul

[2021-03-23 06:18] #111 closed

[2021-05-19 05:07] jmgasper opened #114 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, and the system will change the label to "tcx_Assigned", removing the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here

[2021-05-19 05:24] jmgasper opened #115 "[$200] Investigate Auth0 and see if we can implement a confirmation page"
The first thing we're going to do is:

1.  Get an Auth0 account created (just a demo one is fine)
2. Investigate UI customisations (https://auth0.com/docs/libraries/lock/lock-ui-customization#overriding-css)
3. Attempt to implement a custom confirmation page, shown to the user after a successful registration

#### Notes

We will target the `Lock` template type, as this is the implementation that T

[2021-05-19 05:24] jmgasper commented on #115
Challenge https://www.topcoder.com/challenges/4fb0f205-91a1-46ca-bd57-fcb2e31dbdcc has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-19 05:44] jmgasper commented on #115
Challenge https://www.topcoder.com/challenges/4fb0f205-91a1-46ca-bd57-fcb2e31dbdcc has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-19 12:11] sachin-maheshwari commented on #115
@jmgasper I think this issue is regarding "confirmation page" changes. correct ? if yes, current is available here - https://github.com/topcoder-platform/tc-auth-lib/blob/dev/web-assets/static-pages/register_success.html We need to here.

[2021-05-19 17:15] atelomycterus commented on #115
@sachin-maheshwari  Thanks!

@jmgasper

This is only for a login page. Please let me know if I should investigate UI customizations for a login page.

The confirmation page is static and we can customize it. I've implemented a confirmation page (https://github.com/topcoder-platform/tc-auth-lib/tree/issues-115).

Need to fix a numbered list with custom counters.  Please ask our designer to import a

[2021-05-19 21:54] jmgasper commented on #115
@atelomycterus - Thanks.  I've asked for the assets to be exported and for confirmation on the footer.

[2021-05-19 22:14] jmgasper commented on #115
@atelomycterus - From the Studio copilot:

I've updated the design here: https://marvelapp.com/prototype/9hihec1/screen/78808660/handoff
* Marked the assets for export
* Added the footer info too

[2021-05-20 05:52] atelomycterus commented on #115
@jmgasper Thanks!

PR-https://github.com/topcoder-platform/tc-auth-lib/pull/116/.

The confirmation page looks like:
![image](https://user-images.githubusercontent.com/10196632/118926030-559bf480-b948-11eb-99dc-561e2166c913.png)

[2021-05-20 06:03] atelomycterus commented on #115
@jmgasper There is also a login/logout page here that should be consistent with the design. Let me know if it's should be fixed.
![image](https://user-images.githubusercontent.com/10196632/118926978-cd1e5380-b949-11eb-9b85-cebb4a05bae8.png)

[2021-05-20 06:24] jmgasper commented on #115
@atelomycterus - Yeah, that's definitely going to be coming - we have a new design there as well.  I'm just not entirely sure if we can implement what's been designed inside of Auth0.  I'll be logging new stuff for you tomorrow.

[2021-05-20 06:30] #115 closed

[2021-05-20 06:30] jmgasper commented on #115
Payment task has been updated: https://www.topcoder.com/challenges/4fb0f205-91a1-46ca-bd57-fcb2e31dbdcc
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4fb0f205-91a1-46ca-bd57-fcb2e31dbdcc` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-20 22:08] jmgasper opened #117 "[$40] Update registration confirmation design"
@atelomycterus - We had to update the links to be absolute instead of relative, just FYI.

We also have a new design with some changes from Topcoder.  Can you make these changes please?

https://marvelapp.com/prototype/9hihec1/screen/78808660

[2021-05-20 22:08] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/c50d382a-de0e-43fa-957e-ce16987c3da2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-20 22:08] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/c50d382a-de0e-43fa-957e-ce16987c3da2 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-21 00:54] jmgasper opened #118 "[$150] Investigate updating registration page"
@atelomycterus:

We have a design for the registration / sign-up page here:

https://marvelapp.com/prototype/9hihec1/screen/78808659

The problem is that we have to implement this with the `Lock` template of Auth0, and we don't want to do too much custom CSS that will prevent us from changing Lock.js versions in the future.

Can you use your own Auth0 account and let me know what we can / can't do

[2021-05-21 00:54] jmgasper commented on #118
Challenge https://www.topcoder.com/challenges/12d8b875-757a-4161-a73e-96c23fd84e86 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-21 00:54] jmgasper commented on #118
Challenge https://www.topcoder.com/challenges/12d8b875-757a-4161-a73e-96c23fd84e86 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-21 09:09] atelomycterus commented on #117
@jmgasper What url should be used for `resend the activation email`?

Please correct me if I am wrong. For the following links:
Learn - https://www.topcoder.com/community/learn
Gigs - https://www.topcoder.com/gigs
Competitive Programming - https://www.topcoder.com/community/arena

![image](https://user-images.githubusercontent.com/10196632/119112673-011e7500-ba2d-11eb-9893-da02a34a5725.png)

Thank

[2021-05-21 09:55] jmgasper commented on #117
@atelomycterus - Those links look good.  For now, you can leave the `resend` link unimplemented.  I'm still trying to find out how we're going to implement that one, thanks.

[2021-05-21 17:53] atelomycterus commented on #117
@jmgasper Please apply PR-https://github.com/topcoder-platform/tc-auth-lib/pull/119/. Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/119178600-9bef7180-ba76-11eb-9377-e7025deb1586.png)

[2021-05-21 19:17] atelomycterus commented on #118
@jmgasper  In short, if you want to significantly change the signup/login page,  need to use the Custom Login Form template.
Let me know if you have any questions.

## Responsibility for updates (all templates)
Once the customization toggle is flipped on,
![image](https://user-images.githubusercontent.com/10196632/119180125-8c712800-ba78-11eb-8934-541dfed2d852.png)

that page _can no longer be aut

[2021-05-22 00:09] jmgasper commented on #118
@atelomycterus - Thanks, this looks good.  I'll swing it by Topcoder and let you know their feedback.

[2021-05-22 00:11] #117 closed

[2021-05-22 00:12] jmgasper commented on #117
Payment task has been updated: https://www.topcoder.com/challenges/c50d382a-de0e-43fa-957e-ce16987c3da2
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c50d382a-de0e-43fa-957e-ce16987c3da2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 00:40] #118 closed

[2021-05-25 00:40] jmgasper commented on #118
Payment task has been updated: https://www.topcoder.com/challenges/12d8b875-757a-4161-a73e-96c23fd84e86
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `12d8b875-757a-4161-a73e-96c23fd84e86` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 00:41] jmgasper opened #120 "[$125] Updates to sign up page"
@atelomycterus - Can you go through this list of feedback on the new sign up page and let me know what you think on each one please?  I'm not sure what's doable with regards to this design:  https://marvelapp.com/prototype/9hihec1/screen/78808658

1.  Is it not possible to move the Sign Up with Google and Github below the SIGN UP button? if not, then at least to make the SIgn Up with Github button

[2021-05-25 00:41] jmgasper commented on #120
Challenge https://www.topcoder.com/challenges/65788f16-d071-4ace-bfd9-5c06c1114b40 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 00:41] jmgasper commented on #120
Challenge https://www.topcoder.com/challenges/65788f16-d071-4ace-bfd9-5c06c1114b40 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 09:13] jmgasper opened #121 "[$50] Redesign activation email"
@atelomycterus - Topcoder would like to redesign the email that goes to users for email activation of a new account.  Currently it's plain text, but we're going to update it to HTML.  A basic template is attached

[template.html.zip](https://github.com/topcoder-platform/tc-auth-lib/files/6538015/template.html.zip)

We want to:

* Update the design to more match the emails we send for the forums, i

[2021-05-25 09:13] jmgasper commented on #121
Challenge https://www.topcoder.com/challenges/45d21b89-dc6c-4e42-8877-abac3b21d4de has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 09:13] jmgasper commented on #121
Challenge https://www.topcoder.com/challenges/45d21b89-dc6c-4e42-8877-abac3b21d4de has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 09:26] atelomycterus commented on #120
@jmgasper Please ask our designer to import the image.  Some requirements cannot be implemented using the Lock template. I will turn over the documentation and API once again. Keep you updated on.

[2021-05-25 22:09] atelomycterus commented on #120
@jmgasper Please read my comments below.  All phrases are used from Marvel App. Let me know your feedback.
Most of the requirements can be met with overriding CSS.

Lock template - [index.override-css.html.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6542594/index.override-css.html.txt)

![image](https://user-images.githubusercontent.com/10196632/119573480-ffeaa080-bdbc-11eb-9600-cf

[2021-05-25 22:12] #120 closed

[2021-05-25 22:13] jmgasper commented on #120
Payment task has been updated: https://www.topcoder.com/challenges/65788f16-d071-4ace-bfd9-5c06c1114b40
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `65788f16-d071-4ace-bfd9-5c06c1114b40` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 22:14] jmgasper commented on #120
@atelomycterus - We can drop the first name / last name fields.

[2021-05-26 07:35] jmgasper opened #122 "[$60] Different design based on parameter flag"
@atelomycterus - The new sign up form is meant to be for members only.  Note that we have two different sign up flows - one for customers and one for members.

https://www.topcoder.com/user-selection/

We could potentially key off the `Source` parameter that's already in place - if it's `tcBusiness` we'll hide the big image on the right.  Can we do that?

Example:

https://accounts-auth0.topcoder.

[2021-05-26 07:35] jmgasper commented on #122
Challenge https://www.topcoder.com/challenges/00c4e803-f752-464d-93eb-4d6b0a02d64f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-26 07:35] jmgasper commented on #122
Challenge https://www.topcoder.com/challenges/00c4e803-f752-464d-93eb-4d6b0a02d64f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-26 07:36] jmgasper opened #123 "[$40] Further sign up form tweaks"
@atelomycterus - A few more requests from different folks:

1.  Can we have the image on the right fill out the form a bit better and not stretch as the window is resized?
<img width="832" alt="Screen_Shot_2021-05-26_at_5_35_51_pm" src="https://user-images.githubusercontent.com/21790/119620892-d8d9b080-be48-11eb-86c4-ccec187a12bd.png">

2.  Can the tabs be uppercase too?  `LOG IN` and `SIGN UP`

[2021-05-26 07:36] jmgasper commented on #123
Challenge https://www.topcoder.com/challenges/353d4a03-28e7-4803-ace3-1afff805ce4f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-26 07:36] jmgasper commented on #123
Challenge https://www.topcoder.com/challenges/353d4a03-28e7-4803-ace3-1afff805ce4f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-26 10:20] atelomycterus commented on #121
@jmgasper The updated template attached.
[template.html.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6545874/template.html.txt)

Please  let me know your feedback. Thanks!

### Testing
Email looks like this. I haven't configured params/vars in my Auth0 account, so they weren't replaced in my email.
![image](https://user-images.githubusercontent.com/10196632/119643411-5f2fcb80-be24-1

[2021-05-26 10:30] jmgasper commented on #121
@atelomycterus - That looks great, thanks.  I'll see if we can apply it, thanks.

[2021-05-26 10:32] jmgasper commented on #121
Payment task has been updated: https://www.topcoder.com/challenges/45d21b89-dc6c-4e42-8877-abac3b21d4de
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `45d21b89-dc6c-4e42-8877-abac3b21d4de` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-26 19:00] atelomycterus commented on #122
@jmgasper  Thanks for details! Implemented.
The Lock Template attached - [lock-template.html.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6549077/lock-template.html.txt)

If  `regSource`=`tcBusiness`:

![image](https://user-images.githubusercontent.com/10196632/119715761-05072880-be6d-11eb-99fb-06a23d55ac7b.png)

else

![image](https://user-images.githubusercontent.com/10196632/1197

[2021-05-26 19:05] atelomycterus commented on #123
@jmgasper
1. Fixed. Sorry about that.
2. Implemented

[lock-template.html.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6549109/lock-template.html.txt)

Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/119716927-5a900500-be6e-11eb-96f7-57dd046ecc4b.png)

[2021-05-27 05:02] #122 closed

[2021-05-27 05:03] jmgasper commented on #122
Payment task has been updated: https://www.topcoder.com/challenges/00c4e803-f752-464d-93eb-4d6b0a02d64f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `00c4e803-f752-464d-93eb-4d6b0a02d64f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 05:06] #123 closed

[2021-05-27 05:06] jmgasper commented on #123
Payment task has been updated: https://www.topcoder.com/challenges/353d4a03-28e7-4803-ace3-1afff805ce4f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `353d4a03-28e7-4803-ace3-1afff805ce4f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 21:44] jmgasper opened #124 "[$50] Further template updates"
@atelomycterus - More feedback from Topcoder:

### Small details

1. Why does the "Email", "Password" and "choose your location" is one shade of gray and the the rest are another shade of gray when they are all hints? that color should be #AAAAAA.  (sorry, I am picky on details :stuck_out_tongue: ) The color for the arrow on the dropdown is also different than the eye icon - should be #AAAAAA
2. "

[2021-05-27 21:44] jmgasper commented on #124
Challenge https://www.topcoder.com/challenges/0baf0211-306a-489c-a419-655c071869bf has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 21:44] jmgasper commented on #124
Challenge https://www.topcoder.com/challenges/0baf0211-306a-489c-a419-655c071869bf has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 21:45] atelomycterus commented on #123
@jmgasper I noticed in DEV that the empty space hasn't been fixed because Auth0 form has several more fields. The height of Auth0 form is 740 px in DEV.  Could you ask our designer to import the image with large size? The current image's height is 713 px in MarvelApp.   I 'll fix it.

I noticed several issues. Could you send me a lock template which Topcoder use?
1.  The `github` should be 'Github

[2021-05-27 21:47] jmgasper commented on #123
@atelomycterus - Yeah, I'm not sure that our template is being applied correctly.  I'm working with Topcoder on that, but I'm validating on my own Auth0 implementation.

[2021-05-27 21:49] atelomycterus commented on #123
@jmgasper Ok. Could you ask our designer to import the image with large size? Thanks!

[2021-05-27 21:51] jmgasper commented on #123
@atelomycterus - Yep, done.  I'll let you know when I hear back, thanks.

[2021-05-28 21:54] jmgasper opened #125 "[$100] Apply latest design fixes"
* Registration page https://marvelapp.com/prototype/9hihec1/screen/79676549/
* Login page: https://marvelapp.com/prototype/9hihec1/screen/79677899/
* Check your email page: https://marvelapp.com/prototype/9hihec1/screen/79678839/
### Standards

https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-28 21:54] jmgasper commented on #125
Challenge https://www.topcoder.com/challenges/0ac899d7-2c69-4169-84ef-b0195a991c1e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-28 21:54] jmgasper commented on #125
Challenge https://www.topcoder.com/challenges/0ac899d7-2c69-4169-84ef-b0195a991c1e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-29 20:47] atelomycterus commented on #124
@jmgasper Using DevTool I noticed that Topcoder only copied a few pieces of code from my Lock template, rather than using the entire Lock template.  Topcoder Lock configuration options are different from those in my template. In addition, some of the changes that were in the previous ticket were not copied.  Missing 'How did you hear...', SignUpterms wasn't updated, etc.
![image](https://user-imag

[2021-05-30 18:36] atelomycterus commented on #125
@jmgasper  A few issues with the latest design:

1. The image size is 644(w)x820(h)px. If fields are not valid, the height of a Lock widget  > 820 px. Stretching the image will look ugly.

![image](https://user-images.githubusercontent.com/10196632/120115096-d948b300-c18a-11eb-9dd6-0a8a8a4c64bf.png)

2.  The CSS `::before`/`::after` pseudo-elements cannot be added to text inputs. Adding a green ch

[2021-05-31 02:42] #125 closed

[2021-05-31 02:43] jmgasper commented on #125
Payment task has been updated: https://www.topcoder.com/challenges/0ac899d7-2c69-4169-84ef-b0195a991c1e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0ac899d7-2c69-4169-84ef-b0195a991c1e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-31 06:10] jmgasper opened #127 "[$30] Deploy issue"
@atelomycterus - We deployed the latest template but the login broke and we're not sure why.  This was seen:
[code]

[2021-05-31 06:17] jmgasper commented on #127
We're investigating external factors.  Will reopen if needed.

[2021-05-31 06:17] #127 closed

[2021-05-31 09:09] atelomycterus commented on #124
@jmgasper I fixed these issues in https://github.com/topcoder-platform/tc-auth-lib/issues/125.
I checked the login/signup widget on DEV and I noticed that some changes hasn't been applied from the latest template again:

1) 'Choose your country' should be replaced with 'Choose your country'  (https://marvelapp.com/prototype/9hihec1/screen/79676549/ MarvelApp)
2) 'Enter your first name' should be r

[2021-05-31 21:42] #124 closed

[2021-05-31 21:43] jmgasper commented on #124
Payment task has been updated: https://www.topcoder.com/challenges/0baf0211-306a-489c-a419-655c071869bf
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0baf0211-306a-489c-a419-655c071869bf` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-03 09:08] drasticdpk commented on #121
Verified on Dev env.

![image](https://user-images.githubusercontent.com/25297859/120618778-1ce93880-c47b-11eb-8ca7-5886fc952d8a.png)

In provided html template, Activation button was in center alignment but now in current implementation it is left alignment, please confirm. @sachin-maheshwari

![image](https://user-images.githubusercontent.com/25297859/120619054-5ae65c80-c47b-11eb-8fef-6a9dbb2e7b

[2021-06-03 09:11] sachin-maheshwari commented on #121
@drasticdpk that is fine, as per latest suggestion by Darak.

[2021-06-03 10:48] drasticdpk commented on #121
verified on prod mode
![image](https://user-images.githubusercontent.com/25297859/120633027-617bd080-c489-11eb-9fa2-fa7cd7e2f1d8.png)

[2021-06-03 10:48] #121 closed

[2021-06-04 10:59] jmgasper opened #129 "[$30] Layout of email validation page"
@atelomycterus - There's one page that's not rendering correctly with the latest template. It's a weird page that pops up every once and awhile and the user has to click on their email address to validate.  Can we attempt to fix this please?

<img width="1672" alt="Screenshot 2021-06-04 at 4 21 18 PM" src="https://user-images.githubusercontent.com/21790/120791533-7e8cce00-c573-11eb-965d-8d2afb8da1

[2021-06-04 10:59] jmgasper commented on #129
Challenge https://www.topcoder.com/challenges/38937e5a-8c8e-452d-92dc-091e95d68cbf has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-04 10:59] jmgasper commented on #129
Challenge https://www.topcoder.com/challenges/38937e5a-8c8e-452d-92dc-091e95d68cbf has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-04 11:42] atelomycterus commented on #129
@jmgasper  From your screenshot I can see that I see that other Auth0 controls ('Login with corporate credentials',  'Azure AD Connection')  are being rendered. How can I navigate to this window on Dev env?

[2021-06-04 21:58] jmgasper commented on #129
@atelomycterus - I've asked Topcoder for more details.  I see this sometimes in prod / dev, but I'm not sure how to get to it reliably

[2021-06-05 05:35] jmgasper commented on #129
@atelomycterus https://accounts-auth0.topcoder-dev.com/?retUrl=https://topcoder-dev.com&utm_source=wipro

[2021-06-05 11:04] atelomycterus commented on #129
@jmgasper Thanks! Fixed.

### Changes
 - css style  - updated.
 CSS styles - [custom.css.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6602436/custom.css.txt)
 - JS code - updated (lines 292 - 318).
 Lock Template  - [topocder-dev.default.html.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6602445/topocder-dev.default.html.txt)
Fixed inline header bg style for mobiles:
!

[2021-06-05 23:40] jmgasper commented on #129
@atelomycterus - Looks great, thanks!

[2021-06-05 23:40] #129 closed

[2021-06-05 23:41] jmgasper commented on #129
Payment task has been updated: https://www.topcoder.com/challenges/38937e5a-8c8e-452d-92dc-091e95d68cbf
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `38937e5a-8c8e-452d-92dc-091e95d68cbf` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 05:44] drasticdpk commented on #117
Reference :
![image](https://user-images.githubusercontent.com/25297859/120964647-58d61380-c783-11eb-811b-87d228819f98.png)
Do I miss anything, design does not sync with given marvel app.
 https://marvelapp.com/prototype/9hihec1/screen/78808660
cc @sachin-maheshwari

[2021-06-07 05:58] sachin-maheshwari commented on #117
@drasticdpk that is fine. "resend email" we'll do in next around.

[2021-06-07 06:17] drasticdpk commented on #120
**Verification**
**2 and 3**

![image](https://user-images.githubusercontent.com/25297859/120965979-478e0680-c785-11eb-9f23-54df92ff27b3.png)
**4 , 5 and 8**
![image](https://user-images.githubusercontent.com/25297859/120966729-5e812880-c786-11eb-9e3a-25b49177ffc8.png)

**6 and 7**

![image](https://user-images.githubusercontent.com/25297859/120967135-dc453400-c786-11eb-87b5-bffc40e2f9be.png)

[2021-06-07 06:32] drasticdpk commented on #115
I am making this issue pass for now, if anything we can discuss here. https://github.com/topcoder-platform/tc-auth-lib/issues/117

[2021-06-07 06:48] drasticdpk opened #130 "Unable to register on challenge with newly created user."
**Challenge** : https://www.topcoder-dev.com/challenges/2cc872a7-3c09-4d23-b3c1-138f22c7deed
**Credential** : mailmemakar902/P@ssw0rd

Today I have created this user and while trying to register with challenge it is showing below error

![image](https://user-images.githubusercontent.com/25297859/120971334-3bf20e00-c78c-11eb-968b-c691be201a90.png)

Note : Also data is not populating to other app eg

[2021-06-07 07:02] sachin-maheshwari commented on #130
@drasticdpk is this related to auth0 changes or related member-api issue ?

[2021-06-07 07:16] sachin-maheshwari commented on #130
This is signup data - captured on "identity.notification.create"
{
  "id": "88774768",
  "modifiedBy": null,
  "modifiedAt": null,
  "createdBy": null,
  "createdAt": null,
  "handle": "sachin07062101",
  "email": "tez.sachin+07062101@gmail.com",
  "firstName": "Sachin",
  "lastName": "Kumar",
  "credential": {
    "activationCode": "xxxxxx",
    "resetToken": null,
    "hasPassword": true
  },

[2021-06-07 07:17] sachin-maheshwari commented on #130
Error should be due to different API.
<img width="1680" alt="Screenshot 2021-06-07 at 12 43 52 PM" src="https://user-images.githubusercontent.com/6467888/120975029-6d6bd900-c78e-11eb-8c4c-2484e1deca70.png">

[2021-06-07 07:25] coderhacker opened #131 "[$25] Bottom margin not as per given marvel design"
Bottom Margin of Auth page not matching with provided design
![image](https://user-images.githubusercontent.com/62358241/120975997-8628be80-c78f-11eb-86aa-d3f865cb00d5.png)

[2021-06-07 07:29] coderhacker commented on #124
This is passed on DEV
![image](https://user-images.githubusercontent.com/62358241/120976668-2da5f100-c790-11eb-95de-755d66ced525.png)

[2021-06-07 07:34] sachin-maheshwari commented on #130
There was kafka consumer( member-api processors) issue at DEV. so i restarted the corresponding processors. It is working fine for me on DEV now.

[2021-06-07 07:37] sachin-maheshwari commented on #131
@jmgasper what is your thoughts ?

[2021-06-07 07:39] jmgasper commented on #131
@coderhacker - What size is the window you are viewing this on?  Seems like it's small, hence the issue.  MarvelApp targets a single size, so you can expect slight differences if you are larger or smaller than what the MarvelApp was designed to.

[2021-06-07 07:58] drasticdpk commented on #130
Ok closing this issue. Thank you @sachin-maheshwari

[2021-06-07 07:58] #130 closed

[2021-06-07 08:57] drasticdpk opened #132 "[$25] UI is not loading properly"
Steps :
1. Go to  https://community-app.topcoder-dev.com/challenges?tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK
2. Click on Sign Up link and observe the UI

**Reference**

![image](https://user-images.githubusercontent.com/25297859/120988357-38678280-c79e-11eb-9f2c-26b6ad4a1202.png)

https://user-images.githubusercontent.com/25297859/1209885

[2021-06-07 10:01] coderhacker commented on #125
This is the passed

https://user-images.githubusercontent.com/62358241/120998100-63090980-c7a5-11eb-9f54-d1181b9ba981.mp4

[2021-06-07 10:06] coderhacker commented on #123
This is passed on dev
![image](https://user-images.githubusercontent.com/62358241/120998945-2e498200-c7a6-11eb-8eb5-8f7f95858d95.png)

[2021-06-07 10:26] coderhacker commented on #122
Hi @sachin-maheshwari, could you please provide more information on this how-to verify on the dev environment with new changes.

[2021-06-07 10:30] sachin-maheshwari commented on #122
@coderhacker as discussed, You can check the view (login/signup) from https://connect.topcoder-dev.com and https://topcoder-dev.com/challenges

[2021-06-07 10:33] coderhacker opened #133 "[$25] Extra margin coming in login screen"
Actual: Extra bottom margin is coming in the login screen, please see attached screenshot
![image](https://user-images.githubusercontent.com/62358241/121002185-b2e9cf80-c7a9-11eb-83d9-25fedaf74f97.png)

Expected: This should be the proper center align

Browser: All latest
OS: Windows 10

[2021-06-07 10:39] coderhacker commented on #122
Thanks this is passed on dev

https://user-images.githubusercontent.com/62358241/121003005-a023ca80-c7aa-11eb-89d5-28aa89aef100.mp4

https://user-images.githubusercontent.com/62358241/121003012-a2862480-c7aa-11eb-8813-71908ca31707.mp4

[2021-06-07 10:49] coderhacker commented on #131
@jmgasper  This is my laptop Display information
![image](https://user-images.githubusercontent.com/62358241/121004328-2e4c8080-c7ac-11eb-85a5-b8dec2059e71.png)

[2021-06-07 10:51] jmgasper commented on #132
Challenge https://www.topcoder.com/challenges/44fcdc68-55f1-4410-82c3-d6e67eb1a1ac has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 10:51] jmgasper commented on #132
@atelomycterus - Any idea what's going on here?

[2021-06-07 10:51] jmgasper commented on #132
Challenge https://www.topcoder.com/challenges/44fcdc68-55f1-4410-82c3-d6e67eb1a1ac has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 10:52] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/a7fc0664-ec89-48f4-84f5-4a228a079909 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 10:52] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/a7fc0664-ec89-48f4-84f5-4a228a079909 has been assigned to sachin-kumar12.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 10:52] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/a7fc0664-ec89-48f4-84f5-4a228a079909 sachin-kumar12 has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 10:52] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/a7fc0664-ec89-48f4-84f5-4a228a079909 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 11:03] jmgasper commented on #131
Challenge https://www.topcoder.com/challenges/31608682-8b49-4cf8-97c5-04768056fddd has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 11:03] jmgasper commented on #131
Challenge https://www.topcoder.com/challenges/31608682-8b49-4cf8-97c5-04768056fddd has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 17:49] atelomycterus commented on #133
@jmgasper A few questions about login screens. I checked MarvelApp and now I'm not sure what the final version of login screens should be. Some screens were modified 5 days ago.  Need your confirmation of how the screen should look for business.
Thanks!

### For members
`Don't have an account? <link>Sign Up</link>` (`Log In` tab)/ `Already have an account? <link>Log In</link>` (`Sign In` tab) were

[2021-06-07 20:27] atelomycterus commented on #131
@jmgasper Fixed the margin bottom.  I noticed that https://tc-public-static-files.topcoder.com/topcoder-auth/css/custom.css doesn't include last changes (https://github.com/topcoder-platform/tc-auth-lib/issues/129).

Updated CSS styles (including the current issue, https://github.com/topcoder-platform/tc-auth-lib/issues/129):
[custom.css.txt](https://github.com/topcoder-platform/tc-auth-lib/files/

[2021-06-07 20:32] atelomycterus commented on #132
@jmgasper My bad, fixed.  All assets ( CSS/JS code) - https://github.com/topcoder-platform/tc-auth-lib/issues/131#issuecomment-856231660.

Thanks!

[2021-06-07 21:59] #131 closed

[2021-06-07 21:59] #132 closed

[2021-06-07 21:59] jmgasper commented on #131
Payment task has been updated: https://www.topcoder.com/challenges/31608682-8b49-4cf8-97c5-04768056fddd
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `31608682-8b49-4cf8-97c5-04768056fddd` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 22:00] jmgasper commented on #132
Payment task has been updated: https://www.topcoder.com/challenges/44fcdc68-55f1-4410-82c3-d6e67eb1a1ac
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `44fcdc68-55f1-4410-82c3-d6e67eb1a1ac` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 22:04] jmgasper commented on #133
@sachin-maheshwari - Thoughts on the above? ☝️

[2021-06-08 04:45] jmgasper commented on #131
@codehacker - This looks better now in dev, for me.  I'm at 1920x1080

<img width="1749" alt="Screen Shot 2021-06-08 at 2 44 40 pm" src="https://user-images.githubusercontent.com/21790/121124364-22be8f80-c868-11eb-873d-f6a1bb6f611a.png">

[2021-06-08 04:46] jmgasper commented on #132
Seems better now:

<img width="1749" alt="Screen Shot 2021-06-08 at 2 45 52 pm" src="https://user-images.githubusercontent.com/21790/121124435-4255b800-c868-11eb-9580-fddde4eaad5c.png">

[2021-06-08 06:29] drasticdpk commented on #131
@coderhacker ,
please help to verify this issue , for me it is showing link this
![image](https://user-images.githubusercontent.com/25297859/121134325-ffd5b080-c852-11eb-8432-e9e3df69acab.png)

[2021-06-08 06:32] coderhacker commented on #131
This is not fixed
![image](https://user-images.githubusercontent.com/62358241/121134707-5510c280-c851-11eb-97a0-e72507fa7797.png)

[2021-06-08 06:46] drasticdpk commented on #117
OK noted.

[2021-06-08 08:23] drasticdpk opened #134 "[$40] UI is flickering"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/121149824-b725f380-c862-11eb-8992-721802308122.png)

https://monosnap.com/file/oq1do7CzTfLVR0oy5OTzIHxSBF0S7p

[2021-06-08 08:30] sachin-maheshwari commented on #134
@jmgasper please check this.

[2021-06-08 09:13] jmgasper commented on #134
Challenge https://www.topcoder.com/challenges/fb6aae65-3c02-4ad2-912f-4b4dd51bc81a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-08 09:13] jmgasper commented on #134
Challenge https://www.topcoder.com/challenges/fb6aae65-3c02-4ad2-912f-4b4dd51bc81a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-08 09:18] jmgasper commented on #131
@atelomycterus - Any thoughts?

[2021-06-08 10:09] atelomycterus commented on #131
@coderhacker  Could you record a video? Thanks!

If you get 503 errors (GitHub Service unavailable) and can't watch video.  Please watch it from you tube.

On my side:
Github  - https://user-images.githubusercontent.com/10196632/121166009-6067ec00-c859-11eb-9a5b-cc33239e40a0.mp4
Youtube  - https://youtu.be/4-eWEY7ojek

[2021-06-08 15:26] atelomycterus commented on #134
@jmgasper I see some changes have been made in the lock template (DEV/PROD).

Previously CSS styles were added with the link tag, now CSS styles are injected using JS code. These changes affected the display of the page. As a result UI is flickering.
![image](https://user-images.githubusercontent.com/10196632/121181805-12f47a80-c86b-11eb-994c-9823f3abfb57.png)

Adding inline css styles ('style="di

[2021-06-08 20:50] jmgasper commented on #134
@sachin-maheshwari ☝️

[2021-06-09 01:24] coderhacker commented on #131
This is fixed now production
![image](https://user-images.githubusercontent.com/62358241/121278053-7b853b00-c8ef-11eb-912e-873174489840.png)

[2021-06-09 01:42] sachin-maheshwari commented on #134
@jmgasper I'll check and deploy.

[2021-06-09 02:08] sachin-maheshwari commented on #134
I implemented on DEV.
@atelomycterus regarding JS CSS include, actually our changes which are in CSS were impacting the other "Auth0 APPS" like below - Please let us know if you know better way to handle it.
<img width="1286" alt="Screenshot 2021-06-07 at 5 06 29 PM" src="https://user-images.githubusercontent.com/6467888/121281334-5e536b00-c8f5-11eb-8ae2-0c63bc303193.png">
<img width="1679" alt="S

[2021-06-09 06:25] atelomycterus commented on #134
@sachin-maheshwari Thanks for info! Let me know how I can navigate to `Topcoder-Zapier` on DEV or PROD. I'll have a look at page source.

[2021-06-09 07:01] sachin-maheshwari commented on #134
@lakshmiathreya just FYI, current UI for other apps are working fine. Ex - http://help.topcoder.com/

[2021-06-11 03:25] jmgasper opened #135 "[$250] Resend account creation confirmation email"
@skyhit - We're working on the ability to resend the confirmation email sent when a user registers with Topcoder.

The stubbed endpoint is available at the link below and we need to formalise it, and ensure that the resend works as expected, with a new confirmation link generated, associated with the user, and sent to their email address on their account.

https://github.com/appirio-tech/identity-

[2021-06-11 03:25] jmgasper commented on #135
Challenge https://www.topcoder.com/challenges/89371894-d647-4723-b01f-39b03782380c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-11 03:25] jmgasper commented on #135
Challenge https://www.topcoder.com/challenges/89371894-d647-4723-b01f-39b03782380c has been assigned to FireIce.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-14 22:12] jmgasper commented on #135
Challenge https://www.topcoder.com/challenges/89371894-d647-4723-b01f-39b03782380c FireIce has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 01:44] #134 closed

[2021-06-16 01:44] jmgasper commented on #134
Payment task has been updated: https://www.topcoder.com/challenges/fb6aae65-3c02-4ad2-912f-4b4dd51bc81a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `fb6aae65-3c02-4ad2-912f-4b4dd51bc81a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 17:08] drasticdpk opened #136 "Let's redirect the user to login page after clicking on Activation Link"
The current behavior is that when the user clicks on the activation button on the activation email, the user is directed to a "start your journey" page where they select Gig Work Vs Practice. The expected behavior is they should FIRST be routed to the Login page THEN taken to the 'start your journey page

**Reference**
https://drive.google.com/drive/folders/16lEJdRuXpsQ5FAJ2ThPrrlAOs5E-096Q?usp=sh

[2021-06-16 20:28] jmgasper commented on #136
@sachin-maheshwari - Should I work on this one?  I thought we weren't going to do this?

[2021-06-17 06:09] lakshmiathreya commented on #136
Agree with @drasticdpk - Login should be more prominent right after clicking Activation Link.

[2021-06-17 06:14] sachin-maheshwari commented on #136
@jmgasper I already deployed the changes (changes in sendgrid email template only) on DEV for QA. I think QA is verifying the changes.

[2021-06-17 06:24] codejamtc opened #138 "After activating the account if the user tries to click on the Resend button from the 'Welcome to the Topcoder Community!' page we are getting an Unauthorized message"
**Issues**:

- **Bug/or UX (That is not properly handled on the frontend)**: After activating the account if the user tries to click on the Resend button from the 'Welcome to the Topcoder Community!' page we are getting an Unauthorized message.

![bandicam 2021-06-17 11-33-57-470](https://user-images.githubusercontent.com/42398485/122342152-e4108f80-cf61-11eb-871f-b21bf62bee30.jpg)

https://user-i

[2021-06-17 06:38] codejamtc opened #139 "Click on the "Resend" button from the 'Welcome to the Topcoder Community!' is not working"
https://user-images.githubusercontent.com/42398485/122344530-86317700-cf64-11eb-8cf8-1d5b0d28ad95.mp4

1. Open the Login page and go to the registration page
2. Click on GitHub and proceed with the registration
3. Go to the email and check the activation email (Don't click on the activate or the activation link)
4. Wait 3-5mins
5. Now from the 'Welcome to the Topcoder Community!' page click  resen

[2021-06-17 07:09] coderhacker commented on #136
@sachin-maheshwari , This is not fixed on dev as per the above scenario.

https://user-images.githubusercontent.com/62358241/122348584-efb38480-cf68-11eb-95cb-150e1a0a88ca.mp4

[2021-06-17 07:36] codejamtc opened #140 "Double click on the "Continue" button on the Google social login registration page; we are getting "Unauthorized" error"
https://user-images.githubusercontent.com/42398485/122352236-8d5c8300-cf6c-11eb-8a28-55a3706d633f.mp4

1. Open the auth0 login page
2. Go to the Registration tab and click on the Google social Login
3. Authenticate the Google account
4. Enter the username and select the country
5. Double click on the Continue button

Double click on the "Continue" button on the Google social login registration pag

[2021-06-17 07:51] lakshmiathreya commented on #140
@codejamtc Pls mention the browser

[2021-06-17 08:06] sachin-maheshwari commented on #140
@lakshmiathreya she mentioned the browser "Edge 91.0.864.48 (Official build) (64-bit) | Windows 10". On Dev, my changes are working fine on chrome "Version 91.0.4472.77 (Official Build) (x86_64)".

[2021-06-17 08:11] lakshmiathreya commented on #140
@sachin-maheshwari we need to cover all major Browsers on Windows/Mac right?

[2021-06-17 08:12] sachin-maheshwari commented on #140
correct

[2021-06-17 09:54] jmgasper commented on #140
Challenge https://www.topcoder.com/challenges/53377ba0-5736-4371-a903-e48b434dba3d has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 09:54] jmgasper commented on #140
Challenge https://www.topcoder.com/challenges/53377ba0-5736-4371-a903-e48b434dba3d has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 09:54] jmgasper commented on #140
@atelomycterus - Can you look at this one when you're back from your traveling please?  Seems like we need a better handle on the disabling of that `Continue` button.

[2021-06-17 11:41] coderhacker opened #141 "[$40] Oops!, something went wrong page showing when click on back button of browser"
Step 1: Fill out the signup form and click the signup button

Step 2:  Signup button redirects check email page:

Actual:  Oops!, something went wrong page showing when clicking on the back button of the browser. please attached video

Expected:  When clicking the back button this should be redirected to the topcoder.com page

https://user-images.githubusercontent.com/62358241/122389837-fce36a00-c

[2021-06-17 12:16] SathyaJayabal commented on #140
verified on dev @sachin-maheshwari

https://user-images.githubusercontent.com/58783823/122394737-ee4b8180-cf93-11eb-919c-44f351583c31.mov

[2021-06-17 12:26] coderhacker commented on #136
Prod verification:

https://user-images.githubusercontent.com/62358241/122396092-48991200-cf95-11eb-9d1c-bc1d657b3829.mp4

[2021-06-17 13:18] sachin-maheshwari commented on #140
@jmgasper let's disable "backward" browser flow too.

[2021-06-17 13:47] coderhacker opened #143 "[$30] Signup page is breaking on mobile device"
Step 1: go to  https://www.topcoder.com/ and click to signup button

Step 2: See the below screenshot for mobile view. it's breaking

![image](https://user-images.githubusercontent.com/62358241/122409231-99623800-cfa0-11eb-87b6-9ba3f3b2e997.png)

Device: Honor 6 and all android devices

[2021-06-17 14:59] Oanh-and-only-Oanh commented on #136
The expected behavior is they should FIRST be routed to the Login page THEN taken to the page they clicked “sign up”

[2021-06-17 18:56] jmgasper commented on #143
Challenge https://www.topcoder.com/challenges/095a1292-8afe-4963-a8ea-2e0d0ee7929f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 18:56] jmgasper commented on #143
Challenge https://www.topcoder.com/challenges/095a1292-8afe-4963-a8ea-2e0d0ee7929f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 19:46] jmgasper commented on #140
Challenge https://www.topcoder.com/challenges/53377ba0-5736-4371-a903-e48b434dba3d obog has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 19:47] jmgasper commented on #140
@atelomycterus - Moving this one to an F2F since it's high priority and I know you're unavailable for a few days.

[2021-06-18 01:36] praveeno commented on #140
how to run this project to debug

[2021-06-18 01:40] jmgasper commented on #140
@praveeno - Currently you can't easily.  You can test the current implementation at `https://topcoder-dev.com`

[2021-06-18 07:13] sachin-maheshwari commented on #136
@coderhacker just FYI, its not deployed on Prod yet.

[2021-06-18 08:14] drasticdpk commented on #136
@sachin-maheshwari ,
Here is my observation
1. User selection window is always pointing to prod env, so unable to test from here.
![image](https://user-images.githubusercontent.com/25297859/122528829-79805200-d03c-11eb-8d0d-c3e3a2ba77cf.png)

2. Sign up for Challenge Listing  and Connect app dev  env is working as expected

https://user-images.githubusercontent.com/25297859/122528010-99634600-d03b

[2021-06-18 10:02] sachin-maheshwari commented on #136
@drasticdpk I didn't get what you want say here. From DEV, you reached to Prod.

[2021-06-18 11:06] drasticdpk commented on #136
Hi @sachin-maheshwari  and Team,
issue has been fix on  prod env and it is verified.

[2021-06-18 21:12] jmgasper commented on #140
@sachin-maheshwari - I deployed a fix, can you have a look please?  It's from the F2F, but I haven't closed it yet.

[2021-06-19 03:14] sachin-maheshwari commented on #140
@jmgasper "browser backward" direction flow is not stopped.

@lakshmiathreya @coderhacker @codejamtc  @SathyaJayabal  QA can you please verify the changes on DEV.

[2021-06-19 03:18] jmgasper commented on #140
@sachin-maheshwari - Sorry, I missed that clarification above.  That'll have to be a separate ticket.  Can you log something with a video or more details please?

[2021-06-19 03:28] sachin-maheshwari commented on #140
@jmgasper NP. I think let's wait, I'll discuss with team and take this activity for all pages where it's needed.

[2021-06-21 06:11] coderhacker commented on #140
QA Comment: This is not fixed on DEV.  Its redirects to the same page after double click please see attached video.

https://user-images.githubusercontent.com/62358241/122714853-a1aec180-d285-11eb-81fa-fe5d15bc2931.mp4

[2021-06-21 06:15] sachin-maheshwari commented on #140
@jmgasper please just check above feedback by QA Team. Even it is not working even.

[2021-06-21 07:14] jmgasper commented on #140
@coderhacker - Could you provide a video from the beginning of the process please?  I just want to make sure I reproduce this correctly, thanks.

[2021-06-21 08:53] coderhacker commented on #140
@jmgasper: I am unable to reproduce this issue now, now passing this issue on dev. please find attached the video for the passed-on dev.

https://user-images.githubusercontent.com/62358241/122734906-23114e80-d29c-11eb-9e9e-40271026e874.mp4

[2021-06-21 08:58] sachin-maheshwari commented on #140
@coderhacker  Before going to deploy the code change on Prod, can you please reverify if this is still reproducible at Prod today ? CC @lakshmiathreya

[2021-06-21 11:03] codejamtc commented on #140
**Dev Environment:**

I checked the double click issue on dev and can't reproduce it on my end I think it is fixed https://github.com/topcoder-platform/tc-auth-lib/issues/140 🆗

https://user-images.githubusercontent.com/42398485/122751757-c9198480-d2ad-11eb-9608-eae8981daeb0.mp4

But I can see two issues related to the double-clicking and browser back button

1. Try to register using an already re

[2021-06-21 11:09] sachin-maheshwari commented on #140
@lakshmiathreya @coderhacker that mean last deployed hotfix is sufficient on Prod. correct ?

[2021-06-21 12:21] coderhacker commented on #140
Based on the current finding marking this is an intermittent issue. please find the above evidence for more details.

[2021-06-21 15:05] atelomycterus commented on #143
@jmgasper Please update css styles.
Custom css styles (added 464-469 lines) -  [custom.css.txt](https://github.com/topcoder-platform/tc-auth-lib/files/6687620/custom.css.txt).

### Testing

![image](https://user-images.githubusercontent.com/10196632/122784278-01738f80-d2bb-11eb-80d8-e96b03ed9b7f.png)

![image](https://user-images.githubusercontent.com/10196632/122784360-151ef600-d2bb-11eb-8168-81b

[2021-06-21 21:12] jmgasper commented on #143
Payment task has been updated: https://www.topcoder.com/challenges/095a1292-8afe-4963-a8ea-2e0d0ee7929f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `095a1292-8afe-4963-a8ea-2e0d0ee7929f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-21 21:22] jmgasper commented on #140
It sounds like there's something else at play here - a separate bug related to entering a username that's already taken, is that a correct summation?  Maybe we should get that reproducible and logged separately?

[2021-06-21 22:07] jmgasper commented on #135
Challenge https://www.topcoder.com/challenges/89371894-d647-4723-b01f-39b03782380c has been assigned to pvmagacho.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-21 22:07] #135 closed

[2021-06-21 22:07] jmgasper commented on #135
Payment task has been updated: https://www.topcoder.com/challenges/89371894-d647-4723-b01f-39b03782380c
*Payments Complete*
Winner: pvmagacho
Copilot: ghostar
Challenge `89371894-d647-4723-b01f-39b03782380c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-22 04:37] codejamtc opened #144 "[$75] If the user types an existing username (eg: 11111) and double click on the continue button will give a console error and user can't continue after that by providing a valid username"
**Dev**:

If the user types an existing username (eg: 11111) and double click on the continue button will give a console error and user can't continue after that by providing a valid username ❌

https://user-images.githubusercontent.com/42398485/122752238-4f35cb00-d2ae-11eb-807e-9594204c08f5.mp4

https://user-images.githubusercontent.com/42398485/122752244-5066f800-d2ae-11eb-8e5c-b62ce5f0bfab.mp4

[2021-06-22 04:38] codejamtc commented on #140
@jmgasper https://github.com/topcoder-platform/tc-auth-lib/issues/144

[2021-06-22 05:01] jmgasper commented on #144
Challenge https://www.topcoder.com/challenges/b537bc8e-0dc1-43c5-854c-1a626d45f56a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-22 05:01] jmgasper commented on #144
Challenge https://www.topcoder.com/challenges/b537bc8e-0dc1-43c5-854c-1a626d45f56a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-22 14:09] #136 closed

[2021-06-22 14:14] drasticdpk opened #145 "User redirection based on their Type and Resend Email verification"
Business User : https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc
Member User : https://www.topcoder-dev.com/start

[2021-06-22 14:22] sachin-maheshwari commented on #145
@drasticdpk I think we should cover the "resend" activation email feature in this issue ? CC @lakshmiathreya

[2021-06-22 14:41] drasticdpk commented on #145
**Verification**
1. User redirection working as expected.

https://user-images.githubusercontent.com/25297859/122943705-f726c380-d396-11eb-8e20-4618192fe823.mp4

2. Resend Functionality Working as expected

https://monosnap.com/file/KAApxOQ9Hh96VkEXtjr4WqEK1IE2QF

QQ : If user has already activate that email and user click on resend email link we can  see below message, is it expected. @sachin-mah

[2021-06-22 17:31] atelomycterus commented on #144
@jmgasper

Correct.  This issue exists on DEV.
I compared signup.js from DEV and PROD.  The  'master' was deployed on PROD (Latest commit 519f128 5 days ago).
The 'dev' branch was deployed on DEV (Latest commit 1f63dd1 4 days ago).
There are some changes in the 'dev' branch that lead to js error on DEV.

Let me know if I should fix this issue on DEV.

Thanks!

![image](https://user-images.githubus

[2021-06-22 21:26] jmgasper commented on #144
@sachin-maheshwari - Should we fix this in dev?

[2021-06-23 04:34] lakshmiathreya commented on #139
@codejamtc pls update status in Dev now ...

[2021-06-23 04:35] lakshmiathreya commented on #138
@codejamtc pls update current status on Dev ...

[2021-06-23 04:46] sachin-maheshwari commented on #144
@jmgasper Actually I was testing that code.

[2021-06-23 04:47] jmgasper commented on #144
@sachin-maheshwari - OK, not sure what to do then.  Should we close this ticket?

[2021-06-23 04:52] sachin-maheshwari commented on #144
@jmgasper removed the code from dev branch. @codejamtc can you please verify and close the issue ?

[2021-06-23 05:16] codejamtc commented on #144
@sachin-maheshwari I can still see the issue

https://user-images.githubusercontent.com/42398485/123039667-32190d80-d410-11eb-968a-7de81ed6dd41.mp4

- Open the URL https://accounts-auth0.topcoder-dev.com/?retUrl=http://www.topcoder-dev.com/
- Go to the registration and select the Google icon
- Select a google account
- On the registration page enter `11111` click on the continue button and you wil

[2021-06-23 05:21] sachin-maheshwari commented on #144
@codejamtc please make sure the changes here - https://accounts-auth0.topcoder-dev.com/signup.js extra code should not be there.

[2021-06-23 05:27] codejamtc commented on #144
@sachin-maheshwari
![bandicam 2021-06-23 10-57-08-900](https://user-images.githubusercontent.com/42398485/123040700-c9cb2b80-d411-11eb-9dae-0c6a8ce154aa.jpg)

[2021-06-23 05:36] drasticdpk opened #146 "Display valid message for Activated User at Resend Link"
**Steps**
1. Sign up user and Activate the User
2. Again Click on Resend Link

**Expected**
There should be valid message instead of "Resend Email Error"
eg .  "Email already activated"

**Reference**
![image](https://user-images.githubusercontent.com/25297859/123039878-90df8680-d412-11eb-967c-a79ac65b3e35.png)

https://monosnap.com/file/ChIzIBgKJAP6AZgrXYG7DHjQXj4EuQ

[2021-06-23 05:43] sachin-maheshwari commented on #144
@jmgasper please check this. It's not fixed after removing the code.

[2021-06-23 05:47] sachin-maheshwari commented on #144
@codejamtc this is only at DEV env. correct ? or prod too.

[2021-06-23 05:49] codejamtc commented on #144
@sachin-maheshwari Yes

[2021-06-23 05:55] jmgasper commented on #144
@atelomycterus - Please see above, thanks.

[2021-06-23 05:55] sachin-maheshwari commented on #144
@codejamtc okay, issue is looking only on DEV. @jmgasper could be due to this changes ? https://github.com/topcoder-platform/tc-auth-lib/commit/1f63dd1eba9e101d851bd328d0bd1840f3e976f5

[2021-06-23 06:36] sachin-maheshwari commented on #146
@drasticdpk I have fixed from Auth0, please try now.

[2021-06-23 07:37] drasticdpk commented on #146
Verified.
![image](https://user-images.githubusercontent.com/25297859/123055793-f8530180-d425-11eb-983f-458b38c30897.png)

Note :  we can change the label if needed later thanks.

[2021-06-23 10:44] lakshmiathreya opened #147 "Enterprise SSO Registration at topcoder.com Signup Error"
-- Enterprise SSO signup is expected to be via the enterprise site - for example - for Wipro Enterprise it would be topgear.topcoder.com.
-- However, if an Enterprise User happens to attempt signup via topcoder.com, the Signup button should either redirect to the appropriate Enterprise site or show a relevant message mentioning the Enterprise site.
-- Currently - on macOS, Windows and Android, the

[2021-06-23 10:49] lakshmiathreya commented on #147
<img width="1680" alt="Screenshot 2021-06-23 at 3 17 37 PM" src="https://user-images.githubusercontent.com/51733042/123084379-abc7f000-d43e-11eb-8daa-607c36c56aa5.png">

[2021-06-23 10:51] lakshmiathreya commented on #147
This error is observed on macOS, Android and Windows. The Enterprise SSO signup flow works without Signup error on iOS.
cc @drasticdpk

[2021-06-23 10:51] lakshmiathreya commented on #147
This error is observed on macOS, Android and Windows. The Enterprise SSO signup flow works without Signup error on iOS.
cc @drasticdpk

[2021-06-23 11:28] sachin-maheshwari commented on #144
@jmgasper BTW, i deployed PROD branch and it is working fine. So issue is looking due to this - https://github.com/topcoder-platform/tc-auth-lib/commit/1f63dd1eba9e101d851bd328d0bd1840f3e976f5
@codejamtc Can you please verify now ? as I deployed hotfix branch (from master) for some other purpose, but when i checked its working for me.

[2021-06-23 11:35] codejamtc commented on #144
@sachin-maheshwari Yes, it is fixed  🆗

https://user-images.githubusercontent.com/42398485/123089917-2dbb1780-d445-11eb-8a7e-a7303809ece6.mp4

[2021-06-23 14:49] Oanh-and-only-Oanh commented on #147
Correct, this is the expected flow and should be working on macOS, Android, and Windows.

[2021-06-23 15:23] sachin-maheshwari commented on #147
@lakshmiathreya can you please share the recordings for all OS/browsers where you faced the issue.

[2021-06-23 16:23] drasticdpk commented on #147
@sachin-maheshwari ,
here is the reference

**Windows/Chrome**

https://user-images.githubusercontent.com/25297859/123130873-e052a080-d46c-11eb-8a78-42916982e169.mp4

**MAC/Chrome**
https://user-images.githubusercontent.com/25297859/123131143-23ad0f00-d46d-11eb-99e3-695da97a091f.mp4

**Android**
https://user-images.githubusercontent.com/25297859/123132453-7b984580-d46e-11eb-82d4-8333c40ec0bd.mp4

[2021-06-23 21:06] #144 closed

[2021-06-23 21:06] jmgasper commented on #144
Payment task has been updated: https://www.topcoder.com/challenges/b537bc8e-0dc1-43c5-854c-1a626d45f56a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b537bc8e-0dc1-43c5-854c-1a626d45f56a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-24 05:58] lakshmiathreya commented on #147
@Oanh-and-only-Oanh - what is the expected landing page for Enterprise users? In the iOS scenario - it successfully redirects after signup to the respective Member/Customer landing pages. Should we redirect them to Topgear instead?

[2021-06-24 06:02] lakshmiathreya commented on #147
https://user-images.githubusercontent.com/51733042/123210569-cdc57f00-d4df-11eb-85bd-b7fd0881e19e.MP4

[2021-06-24 06:08] lakshmiathreya commented on #147
https://user-images.githubusercontent.com/51733042/123211106-9c997e80-d4e0-11eb-9d12-a5140fbbfc9a.mp4

[2021-06-24 06:18] lakshmiathreya commented on #147
<img width="1680" alt="Screenshot 2021-06-24 at 11 47 27 AM" src="https://user-images.githubusercontent.com/51733042/123212163-10885680-d4e2-11eb-9d3b-f61c2ec51b2d.png">

[2021-06-24 06:18] lakshmiathreya commented on #147
<img width="1680" alt="Screenshot 2021-06-24 at 11 47 27 AM" src="https://user-images.githubusercontent.com/51733042/123212163-10885680-d4e2-11eb-9d3b-f61c2ec51b2d.png">

[2021-06-24 06:40] drasticdpk commented on #145
**Prod Verification**

1. Resend Email Functionality

![image](https://user-images.githubusercontent.com/25297859/123213035-3ebb6580-d4e5-11eb-8ca5-2f799ff1fa31.png)
![image](https://user-images.githubusercontent.com/25297859/123213258-8215d400-d4e5-11eb-8500-bba4b93f834c.png)

[2021-06-24 07:02] sachin-maheshwari commented on #143
@coderhacker can please verify this issue on DEV so that I can deploy on Prod.

[2021-06-24 07:03] drasticdpk commented on #146
Verified on prod Env
https://user-images.githubusercontent.com/25297859/123217507-5cd79480-d4ea-11eb-8984-8d593d5b0f27.mp4

[2021-06-24 07:03] #146 closed

[2021-06-24 07:07] drasticdpk commented on #145
Verified on Prod Env.

[2021-06-24 07:07] #145 closed

[2021-06-24 07:12] drasticdpk commented on #140
Based on above discussion I am closing this ticket since it is intermittent Issue . We can open it for anything.  cc @lakshmiathreya

[2021-06-24 07:12] #140 closed

[2021-06-24 08:33] sachin-maheshwari commented on #143
CC @lakshmiathreya

[2021-06-24 09:57] codejamtc commented on #139
https://user-images.githubusercontent.com/42398485/123243414-a03cfd80-d500-11eb-861c-e8326054dec4.mp4

[2021-06-24 10:09] sachin-maheshwari commented on #139
@lakshmiathreya  same feature is passed on Prod recently - https://github.com/topcoder-platform/tc-auth-lib/issues/146 and we are doing testing on DEV now.

[2021-06-24 10:14] lakshmiathreya commented on #139
@codejamtc pls update for Prod since it's deployed already.

[2021-06-24 10:17] lakshmiathreya commented on #138
This is covered in #146

[2021-06-24 10:19] codejamtc commented on #139
Prod:  🆗

https://user-images.githubusercontent.com/42398485/123246735-be582d00-d503-11eb-92d2-7d7614cb03c4.mp4

[2021-06-24 12:22] coderhacker commented on #143
This is fixed on dev
![image](https://user-images.githubusercontent.com/62358241/123261927-f9af2780-d514-11eb-9f9c-1198456b0251.png)

[2021-06-25 10:35] #133 closed

[2021-06-25 10:35] jmgasper commented on #133
Payment task has been updated: https://www.topcoder.com/challenges/a7fc0664-ec89-48f4-84f5-4a228a079909
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a7fc0664-ec89-48f4-84f5-4a228a079909` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-25 10:36] jmgasper opened #149 "[$60] Social login changes"
@atelomycterus - A new social media login layout has been added that we can apply to the CSS / HTML:

https://marvelapp.com/prototype/9hihec1/screen/80235109

[2021-06-25 10:36] jmgasper commented on #149
Challenge https://www.topcoder.com/challenges/a771f83b-f5f6-4ded-9d64-15cd491cb1a1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-25 10:36] jmgasper commented on #149
Challenge https://www.topcoder.com/challenges/a771f83b-f5f6-4ded-9d64-15cd491cb1a1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-25 12:26] sachin-maheshwari commented on #143
@coderhacker deployed on Prod. Please verify and close the issue accordingly.

[2021-06-25 12:43] coderhacker commented on #143
This fixed on prod
![Screenshot_20210625-181102_Chrome](https://user-images.githubusercontent.com/62358241/123426290-e1a4da00-d5e0-11eb-993d-70b11f45397b.jpg)

[2021-06-25 12:43] #143 closed

[2021-06-25 14:01] rprakash20 opened #150 "[Web-Safari][Functional] Page never loads back after Signup -> Sign up With Google or. Github -> Back on the browser"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Signup button and then click on “I’m the Talent” button on User Selection page
3. Now on Signup page click on Either Google or Github
4. Page will redirect to either google’s login page or Github’s login page based on selection in previous step
5. Without filling anything, click on the back button in browser
6. Wait for the page to load
7. No

[2021-06-25 14:04] rprakash20 opened #151 "[Web-Safari][Functional]Page never loads back after Login -> Login with Google or. Github -> Back on the browser"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Login button
3. Now on TopCoder Login page click on Either Google or Github
4. Page will redirect to either google’s login page or Github’s login page based on selection in previous step
5. Without filling anything, click on the back button in browser
6. Wait for the page to load
7. Notice the results

### Screenshots or Screen Capture
<img w

[2021-06-25 14:07] devsreekrishna opened #152 "[Web-Safari] Matter is different in Marvel App In respect To Original App"
1. Device:- Laptop
2.  OS:- macOS
3.  Browser:- Safari
4.  Go To http://topcoder.com/
5.  Click On Sign in
6. Click on I'AM THE TALENT
7. See Username/Handle then match with Marvel App hence observe.
8.  Actual Result:- Matter is different in Marvel App In respect To Original App
9.  Expected Result:- Matter should be same in Marvel App In respect To Original App too
10. See Screencast & Screensho

[2021-06-25 14:08] winterflame opened #153 "Error message is expected for empty Country field"
### Reproduction Steps ###

1. Open http://topcoder.com/

2. Click SIGN UP

3. Click "I'M THE TALNENT"

4. Empty all the fields, click "Sign Up"

### Expected Result ###
The country field should also have an error message like other fields, e.g. "Country can't be blank"

### Actual Result ###

See screenshot.

### Screenshots or screencast ###

![1](https://user-images.githubusercontent.com/459031

[2021-06-25 14:12] winterflame opened #154 "[Web-Chrome] "Sign up" and "Sign Up" should be consistent"
### Reproduction Steps ###

1. Open http://topcoder.com/

2. Click SIGN UP

3. Click "I'M THE TALNENT"

### Expected Result ###
"Sign up" and "Sign Up" should be consistent.

### Actual Result ###

See screenshot.

### Screenshots or screencast ###
![2](https://user-images.githubusercontent.com/4590317/123437557-60f6d580-d602-11eb-9bd3-88c29d734cfd.jpg)

### Issue Information ###

Device: *Mac Boo

[2021-06-25 14:12] drasticdpk commented on #151
@rprakash20 ,
Going forward , please add required label like above.
Thank you

[2021-06-25 14:13] samray1103 opened #155 "Title- Design issue noticed in the Registration Page."
**Step to Reproduce:**
Open the URL topcoder.com
Click on Sign UP
Compare with the given Marvel application.

**Actual result**
There is a design issue , In the Marvel app - the google  logo shows first where as in the Topcoder.com , Github logo shows  first.

**Expected Result:**

The application design should match with given marvel design.
**Bug Type :**

Functional

**Device/Browser**
Laptop |

[2021-06-25 14:13] ab668685 opened #156 "Web : Incorrect text for close"
Steps:-
1. Enter the url - https://connect.topcoder.com/new-project/talent-as-a-service
2. View the (X)

Issue :  View the (X) - ESC
Expected Result : Text Should be Close

Issue Description : Web :
Device type - Laptop
OS - Windows
Browser user - Chrome

![image](https://user-images.githubusercontent.com/61318135/123437422-46fec800-d5ed-11eb-892e-200e18b21534.png)

[2021-06-25 14:13] hyperblaster1 opened #157 "[Web-Chrome] Stock images and UI missing on I'm the Customer"
## Steps to reproduce

1. Open www.topcoder.com
2. Click SIGN UP
3. Click I'm the Customer
4. Currently, on the Login/signup page there are no stock images and Welcome UI

## Screenshot

https://user-images.githubusercontent.com/51795389/123437699-9644f880-d5ed-11eb-868f-cce58644bf6c.mp4

## Actual Result
Stock images and UI missing on I'm the Customer

## Expected Result
Stock images and UI missi

[2021-06-25 14:14] drasticdpk commented on #154
@winterflame  are you able to add label ? For bug type either functional or ui/ux.
Thank you

[2021-06-25 14:17] rprakash20 opened #158 "[Web-Chrome]Choose your country dropdown is too big and covers entire signup section"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Sign Up button and Click on I'm the Talent on User Selection
3. Now on TopCoder Sign UP page click on "Choose your Country" dropdown
4. Notice the dropdown

### Screenshots or Screen Capture
<img width="1440" alt="Screenshot 2021-06-25 at 7 41 33 PM" src="https://user-images.githubusercontent.com/5712602/123438071-f63b9f00-d5ed-11eb-944d-9d2e

[2021-06-25 14:18] ab668685 opened #159 "Hiring manager email id accepts special charater"
Issue Description : Web :
Device type - Laptop
OS - Windows
Browser user - Chrome

URL : https://connect.topcoder.com/new-project/talent-as-a-service
Steps -
1. Enter the Job and mandatory detail
2. Click Next
3.Enter - Hiring Manager and Email Address - with invalid email/special characters

Issue : Hiring Manager and Email Address accepts email/special characters
Expected Result : email/special

[2021-06-25 14:19] hyperblaster1 opened #160 "[Chrome - Web] Internal variable/something non understandable displayed in Username field helptext"
## Steps to reproduce

1. Open topcoder.com
2. Click on Sign UP
3. Click on I'm the talent
4. Enter relevant correct details in the form except username where enter empty space
5. Click sign up

## Screenshot

https://user-images.githubusercontent.com/51795389/123438526-64806180-d5ee-11eb-897d-edfb339154a8.mp4

## Actual Result
Internal variable/something non understandable displayed in Username f

[2021-06-25 14:20] winterflame commented on #154
Hi @drasticdpk , seems I don't have permission to add/edit labels.

[2021-06-25 14:20] kalindipandey opened #161 "No error message on Spaces in the name field"
**Steps to Reproduce**

1. Go to https://connect.topcoder.com/
2. Click on teh sign up
3. Click on the Signup button without adding name and last name >> add spaces and observe error disappears.

**Actual**

No error message on Spaces in the name field

**Expected**

There should be error message on Spaces in the name field

**Screenshot/Screencast**

![Screenshot 2021-06-25 at 7 49 27 PM](https:/

[2021-06-25 14:22] devsreekrishna opened #162 "[Web-Safari] There is no matter Don't have an Account? Sign Up in Original App"
1. Device:- Laptop
2. OS:- macOS
3. Browser:- Safari
4. Go To https://www.topcoder.com
5. Click On Log In
6. Click on I'AM THE TALENT
7. Then see matter written below Log in then compare with Marvel App, hence Observe.
9. Actual Result:- There is no matter Don't have an Account? Sign Up in Original App
10. Expected Result:- There should be matter Don't have an Account? Sign Up in Original App
11.

[2021-06-25 14:22] ab668685 opened #163 "Web: Profile displayed duplicate and dropdown spacing issue"
Steps:-
1 . Click on link -  https://www.topcoder.com/
2. Click on logged in profile icon

Issue :  Web: Profile displayed duplicate and dropdown spacing issue.
Expected Result : Duplicate profile should not display and alignement should be proper

Issue Description : Web :
Device type - Laptop
OS - Windows
Browser user - Chrome

![image](https://user-images.githubusercontent.com/61318135/12343858

[2021-06-25 14:24] hyperblaster1 opened #164 "[Chrome - Web] "Resend the activation email" is not correctly highlighted"
## Steps to reproduce

1. Open topcoder.com
2. Click on Sign UP
3. Click on I'm the talent
4. Enter relevant correct details
5. Click sign up
6. On the following screen observe the difference in Marvelapp and site

## Screenshot
![3_2](https://user-images.githubusercontent.com/51795389/123439040-f7210080-d5ee-11eb-8176-a37b67df3501.png)

## Actual Result
"Resend the activation email" is not correc

[2021-06-25 14:26] hyperblaster1 opened #165 "[Chrome Web] support@topcoder.com link is not correctly highlighted"
## Steps to reproduce

1. Open topcoder.com
2. Click on Sign UP
3. Click on I'm the talent
4. Enter relevant correct details
5. Click sign up
6. On the following screen observe the difference in Marvelapp and site

## Screenshot
![4_1](https://user-images.githubusercontent.com/51795389/123439340-48c98b00-d5ef-11eb-95c6-8fb75a582b80.png)

## Actual Result
support@topcoder.com link is not correctly

[2021-06-25 14:26] samray1103 opened #166 "No text validation done in the username field."
There is no validation.

User name is accepting any length and any character.

<img width="1254" alt="validation" src="https://user-images.githubusercontent.com/83765094/123439451-7d3e4680-d5f1-11eb-9e9a-71fd5d193c66.png">

[2021-06-25 14:27] kalindipandey opened #167 "[web - Chrome] No message when the search results do not match the search keywords"
**Steps**

1. Go to https://connect.topcoder.com/
2. Click on the start project
3. Click on the signup
4. Click on Choose your country dropdown >> search with random keywords in the search box "ghhhh">> observe that there is no message "country not found"

**Actual**

No message when the search results do not match the search keywords

**Expected**

Should be a message when the search results do n

[2021-06-25 14:28] draco-malfoy opened #168 "Email accepts string of pattern 'a@a.' before hitting Sign up"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to sign up page
2. enter all form details
3. in email, enter 'a@a.', without '.com'
4. see that form is all valid, it should show invalid email message

**Actual result**:

Front end form is not validating email pattern correctly, accepting email id's without domain extensions

**Expecte

[2021-06-25 14:28] samray1103 opened #169 "Incorrect error message being shown."
**Step to Reproduce:**
Open the URL topcoder.com
Click on Sign UP
click on check your email.
Compare with the given Marvel application.

**Actual result**
Application doesnot highlight the error textbox. Also the error message is not clear enough to track where the error has actually occurred.

**Expected Result:**
The application should show correct message when user face some problem.
Also it sh

[2021-06-25 14:29] hyperblaster1 opened #170 "[Chrome - Web] "Community Stories / Customer Success / Future of Work" is not correctly highlighted"
## Steps to reproduce

1. Open topcoder.com
2. Click on Sign UP
3. Click on I'm the talent
4. Enter relevant correct details
5. Click sign up
6. On the following screen observe the difference in Marvelapp and site

## Screenshot
![5_1](https://user-images.githubusercontent.com/51795389/123439763-ac53b880-d5ef-11eb-9389-720903382cf9.png)

## Actual Result
"Community Stories / Customer Success / Fut

[2021-06-25 14:32] samray1103 opened #171 "The Check your email shows inconsistecy compare with the given Marvel app."
Check your email  content shows different in the application and in Marvel app it shows different.

![email1](https://user-images.githubusercontent.com/83765094/123440261-4fa5cd00-d5f2-11eb-92a5-c8d906051ecd.png)
![email](https://user-images.githubusercontent.com/83765094/123440273-52a0bd80-d5f2-11eb-9827-3aa525721279.png)

[2021-06-25 14:34] hyperblaster1 opened #172 "[Chrome Web] Active/inactive states of show password icon are of different sizes"
## Steps to reproduce

1. Open topcoder.com
2. Click Lopin
3. Toggle the show password button
4. Currently, active and inactive states of this button are different

## Screenshot
https://user-images.githubusercontent.com/51795389/123440520-811d9900-d5f0-11eb-97ae-58776ee6b21c.mp4

## Actual Result
Active/inactive states of show password icon are of different sizes

## Expected Result
Active/inacti

[2021-06-25 14:34] rprakash20 opened #173 "[Web-Chrome][Functional] Signing up with Google with an already existing account (same email ID) takes the user in Sign UP process"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Signup button and then click on “I’m the Talent” button on User Selection page
3. Now on Signup page click on Google
4. Page will redirect to either google’s login page
5. Make sure you login with an email ID which already has a Topcoder account
6. Fill in the details in login and proceed
7. Notice the page shown after successfully logging in

[2021-06-25 14:35] rprakash20 commented on #173
<img width="1440" alt="Screenshot 2021-06-25 at 8 05 19 PM" src="https://user-images.githubusercontent.com/5712602/123440725-b75b1880-d5f0-11eb-8ada-72901fcb8188.png">

[2021-06-25 14:37] draco-malfoy opened #174 "Incorrect warning message on username field"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to sign up page
2. enter all form details
3. in username/handle field, enter blank spaces and click Sign up
4. error message appears saying ''Use **%d-%d** letters, numbers and the following characters: "_", ".", "+", "-""

**Actual result**:

 **%d-%d** is vague

**Expected results**:

[2021-06-25 14:37] devsreekrishna opened #175 "[Web-Safari]For Country name pressing first letter from key board, its not working"
1. Device:- Laptop
2. OS:- macOS
3. Browser:- Safari
4. Go to https://www.topcoder.com
5. Click on Sign Up
6. Click on I'AM THE TALENT then try to fill country name first letter from keyboard then observe
7. Actual Result:- For Country name pressing first letter from key board, its not working
8. Expected Result:- For Country name pressing first letter from key board, it should work
9. See Screenc

[2021-06-25 14:37] samray1103 commented on #171
**Step to Reproduce:**
Open the URL topcoder.com
Click on Sign UP
click on check your email.
Compare with the given Marvel application.

**Actual result**
Check your email content shows different in the application and in Marvel app it shows different.

**Expected Result:**
The content should be same as marvel app

**Bug Type :**
Functional

**Device/Browser**
Laptop |
Windows 10 / Chrome Version

[2021-06-25 14:40] kalindipandey opened #176 "[Chrome - Web] The forgot password field stores the email entered even when the user goes back and comes back to it"
**Steps**

1. Go to https://connect.topcoder.com/
2. Click on Start project >> click on forgot password link >> add your email id >> go back >> again click on the forgot password link >> observe that the email is still saved in the field.

**Actual**

The forgot password field stores the email entered even when the user goes back and comes back to it

**Expected**

The forgot password field should

[2021-06-25 14:40] ab668685 opened #177 "Web : Able to send forgot password for invalid email."
Steps:
1. Click on link - https://www.topcoder.com/
2. Click on Forgot password
3. Provide invalid emailid and Click email .

Issue :  Able to send forgot password for invalid email.

Expected Result : Should not be able to send for invalid email.

Issue Description : Web :
Device type - Laptop
OS - Windows10
Browser user - Chrome

![image](https://user-images.githubusercontent.com/61318135/123440

[2021-06-25 14:40] hyperblaster1 opened #178 "[MS Edge Web] An additional needless icon shows when entering password"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Login
3. Enter any characters in password field
4. Currently, when you do this you will see an additional needless eye icon on top of the original

## Screenshot

https://user-images.githubusercontent.com/51795389/123441326-55e77980-d5f1-11eb-9640-d30ea52c2717.mp4

## Actual Result
An additional non-used icon shows when entering passw

[2021-06-25 14:43] rprakash20 opened #179 "[Web-Chrome][Functional] Resetting Password for a non-existing account shows "WE'VE JUST SENT YOU AN EMAIL TO RESET YOUR PASSWORD.""
### Steps to Reproduce
1. Open topcoder.com
2. Click on Login
3. On Topcoder Login, Click on "Forgot your Password"
4. Enter a non-existing email ID, some random email address or if you an email ID which is not registered with topcoder
5. Click on Send Email
6.  Notice the result

### Screenshots or Screen Capture

https://user-images.githubusercontent.com/5712602/123441524-947d3400-d5f1-11eb-94a1

[2021-06-25 14:43] hyperblaster1 opened #180 "[MS Edge Web] Sign Up > Needless double eye icon"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Sign Up > Click I'm the talent
3. Enter any characters in password field
4. Currently, when you do this you will see an additional needless eye icon on top of the original

## Screenshot
https://user-images.githubusercontent.com/51795389/123441755-d4dcb200-d5f1-11eb-9a98-dd6ef7ef42bd.mp4

## Actual Result
An additional non-used icon s

[2021-06-25 14:45] winterflame opened #181 "[Web-Chrome] Should set max allowed chars for all text fields on "Sign up" page"
### Reproduction Steps ###

1. Open http://topcoder.com/

2. Click SIGN UP

3. Click "I'M THE TALNENT"

4. Enter long strings in the text fields

### Expected Result ###
Should set max allowed chars for all text fields.

### Actual Result ###

See screenshot.

### Screenshots or screencast ###

![5](https://user-images.githubusercontent.com/4590317/123441899-f005ec80-d606-11eb-90d0-c254c5e9c843.jp

[2021-06-25 14:45] rprakash20 commented on #173
Same issue would be there for github signup also.

[2021-06-25 14:45] draco-malfoy opened #182 "Irrelevant lock icon is being shown in password error tooltip"
**Device**:
  Mobile

**Operating System**:
Android

**Browser**: MS Edge.

**Steps to reproduce** :

1. go to sign up page
2. enter all form details
3. in password field, enter 'a'
4. see that a lock icon appears with no meaning

**Actual result**:

Lock icon has no meaning and is relevant

**Expected results**:

Lock icon should not be there, **this is only on mobile, on desktop website it is no

[2021-06-25 14:46] samray1103 opened #183 "The page does not refresh when the user clicks on Sign up."
**Step to Reproduce:**
Open the URL topcoder.com
Click on Sign UP
start entering the value.
Now go to Login page .
Login with the credential./
Now go to sign up again,
Now observe the outcome.

**Actual result**
The  login name  is staill showing in the  name field while signing up.

**Expected Result:**
When user clicks on signup the page should refreshed.

**Bug Type :**

Functional

**Device/Br

[2021-06-25 14:48] hyperblaster1 opened #184 "[Chrome Web] Close icon does not clear entered username"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Sign up > Click I'm the Talent
3. Enter incorrect value in username 'username123' > Click Sign Up
4. Click delete next to username > Does not delete

## Screenshot
https://user-images.githubusercontent.com/51795389/123442350-6c420500-d5f2-11eb-9a32-f1283bc7dd16.mp4

## Actual Result
Close icon does not clear entered username

## Expec

[2021-06-25 14:49] Chapre opened #185 "[Firefox - Web] Oops!, something went wrong"
**Steps to reproduce**
1. go to https://connect.topcoder.com/
2. Sign up new user
3. Fill in valid data and confirm signup
4. Once in the activation confirmation page click back

**Actual Result**
Show oops problem
![image](https://user-images.githubusercontent.com/13720708/123441877-3c800680-d5cc-11eb-8ebf-ac13b538268c.png)

**Expected Result**
Back login page and prompt the user to login again

[2021-06-25 14:51] kalindipandey opened #186 "[Web - Chrome] the username from signup is populates in the login username section"
**Steps**

1. Go to https://www.topcoder.com/
2. Click on the signup button
3. select i am a customer
4. Click on the signup
5. Add all the details and an existing email >> click on the signup >> go to login >> see that the username from signup is populating in the login username section

**Actual**

The username from signup populates in the login username section

**Expected**

the username from

[2021-06-25 14:51] rprakash20 opened #187 "[Web-Chrome][Functional]Able to login with email ID and password, though the placeholder just says "Username/Handle""
### Steps to Reproduce
1. Open topcoder.com
2. Click on Login
3. On login page, notice the placeholder for first text field
4. Login with Email ID and password
5. Notice the result

### Screenshots or Screen Capture
<img width="1440" alt="Screenshot 2021-06-25 at 8 20 00 PM" src="https://user-images.githubusercontent.com/5712602/123442787-dfe41200-d5f2-11eb-84a5-744bf2e539c1.png">

### Current Res

[2021-06-25 14:53] draco-malfoy opened #188 "'Handle may not contain a space' should be 'Handle should not contain spaces'"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to sign up page
2. enter all form details
3. in username/handle field, enter spaces > click Sign up
4. error message says 'Handle may not contain a space',

**Actual result**:

Error message is grammatically incorrect

**Expected results**:

**'Handle may not contain a space'** should be

[2021-06-25 14:57] kalindipandey opened #189 "[Web- Chrome] The user is not able to close the country dropdown by clicking outside of it"
**Steps**

1. Go to https://www.topcoder.com/
2. Click on the signup>> select customer as the user
3. Click on the signup option > click on the select my country dropdown >> try clicking outside the dropdown to close it >> the user is not able to close

**Actual**

The user is not able to close the country dropdown by clicking outside of it

**Expected**

The user should be able to close the count

[2021-06-25 14:58] rprakash20 opened #190 "[Web-Chrome][UI]"Forgot Password" is active in empty space also in connect.topcoder.com -> Account and security"
### Steps to Reproduce
1. Open connect.topcoder.com
2. if you are already logged in the click on Account and Security in User Actions in. top right
3. Or log in and then click on Account and Security
4. Click on empty space near Forgot Password
5. Notice the results

### Screenshots or Screen Capture

https://user-images.githubusercontent.com/5712602/123443513-97792400-d5f3-11eb-83d8-9f357b8e1675.

[2021-06-25 14:58] devsreekrishna opened #191 "[Web_safari]Key icon is overlapping with Eye icon"
1. Device:- Laptop
2. OS:- macOS
3. Browser:- Safari
4. Go To https://connect.topcoder.com/
5. Click On Start a project
6. Try to fill with User name & Password then observe in Password field
7. Actual Result:- Key icon is overlapping with Eye icon
8. Expected Result:- Key icon should not overlap with Eye icon
9. https://user-images.githubusercontent.com/42583358/123443623-b081d500-d5f3-11eb-83a6-

[2021-06-25 15:03] neenatc opened #192 "[Chrome] When we enter numbers in first name and last name field, it is accepted"
Steps to reproduce
Open topcoder.com on MS Edge
Click Sign up > Click I'm the Talent
Enter incorrect value in username 'username123' > Click Sign Up
Click delete next to username > Does not delete
Screenshot
 6.mp4
Actual Result
Close icon does not clear entered username

Expected Result
Close icon should clear entered username

Bug Type
Functional

Device | OS | Browser
Desktop |
Windows 10 Build

[2021-06-25 15:03] hyperblaster1 opened #193 "[Chrome Web] "Oops something went wrong" when clicking back on success screen"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Sign Up > Click I'm the talent
3. Enter correct details
4. Click Sign Up
5. On the "Check your email" ,click back

## Screenshot

https://user-images.githubusercontent.com/51795389/123444436-841a8880-d5f4-11eb-85f3-854a9dcc516b.mp4

## Actual Result
"Oops something went wrong" when clicking back on success screen

## Expected Result
S

[2021-06-25 15:04] winterflame opened #194 "[Web-Chrome] Error message should be placed under specific field and not all in uppercase"
### Reproduction Steps ###

1. Open http://topcoder.com/

2. Click SIGN UP

3. Click "I'M THE TALNENT"

4. Enter "abcdefghijklmnopq" for username, enter other fields properly

5. Click Sign Up

### Expected Result ###
1) Error message should be placed under specific field.
2) Error message should not be all in uppercase.

### Actual Result ###

See screenshot, it's on the top and all in uppercase.

[2021-06-25 15:06] draco-malfoy opened #195 "Field icons only appear briefly while sign up"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to sign up page
2. enter all form details
3. enter an invalid email (so that screen stays there, to see the icons)
4. click 'Sign up'

**Actual result**:

icons on form field email, username/handle, password only appear after Sign up is clicked

**Expected results**:

icons should be the

[2021-06-25 15:09] neenatc commented on #192
Steps to reproduce

1. Open topcoder.com
2. Click Register Now
3. Click on Sign Up
4. Enter numbers in First name field
5. Enter numbers in Last name field
6. It is accepted and the message displayed is "User already exists"

Screenshot

![Issue 1](https://user-images.githubusercontent.com/83340672/123444868-fe4b0d00-d5f4-11eb-9e93-592c2f512fb0.png)
![Issue 1 image 2](https://user-images.githubuse

[2021-06-25 15:11] rprakash20 opened #196 "[Web][Functional]able to access user's account details (Settings) in another tab after logging out in one tab"
### Steps to Reproduce
1. Open topcoder.com
2. Login with your credentials
3. Open multiple tabs
4. Logout in one tab
5. In another open tab, access User's account Settings page
6. Navigate through the multiple tabs available
7. Notice the results

### Screenshots or Screen Capture
https://drive.google.com/file/d/18sdeQK2zkbyELSOa4unsBoVQWTkP1rFp/view?usp=sharing

### Current Results
able to acces

[2021-06-25 15:12] draco-malfoy opened #197 "Back button too small, requiring stressing on eyes to look at"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to login page
2. click 'Forgot your password'
3. see the back button

**Actual result**:

Back button is very small

**Expected results**:

Back button should be a little larger

**Bug Type** : UI/UX

**Testing collateral**:
![8](https://user-images.githubusercontent.com/46344490/1234458

[2021-06-25 15:14] samray1103 opened #198 "The long password overlaps the password view icon"
**Step to Reproduce:**
Open the URL topcoder.com
Click on Sign UP
Enter the long value in Password field.

**Actual result**
The password field is taking a long text and the long text is overlapping the Password view icon.

**Expected Result:**
The password field should have some validation and the view icon should work properly.

**Bug Type :**

UI/UX

**Device/Browser**

Laptop |
Windows 10 / Ch

[2021-06-25 15:16] devsreekrishna opened #199 "[Web-Safari]There is side mismatch For Google logo & Github Logo in both i.e. In Original App & Marvel App, In one App google logo is showing in left side & in another App it's showing in right side"
1. Device:- Laptop
2. OS:- macOS
3. Go To https://www.topcoder.com
4. Click On Sign Up
5. Click On I'AM THE TALENT
6. See Google Logo & Github Logo In Original App & Compare With Marvel App then observe.
7. Actual Result:- There is side mismatch For Google logo & Github Logo in both i.e. In Original App & Marvel App, In one App google logo is showing in left side & in another App it's showing in r

[2021-06-25 15:16] kalindipandey opened #200 "[Web - chrome] The error message is not explanatory"
**Steps**

1. Go to https://www.topcoder.com/
2. Click on the signup
3. Click on the user as a Customer >>> click on the signup
4. Add email other than Gmail domain
5. Add all the values and click on the signup button >> observe the error message is not self-explanatory

**Actual**

The error message is not explanatory for the errors when the email is not the Gmail domain

**Expected**

The error

[2021-06-25 15:20] rprakash20 opened #201 "[Web][Functional] Reset password without filling in the password fields in connect shows Network error"
### Steps to Reproduce
1. Open connect.topcoder.com
2. Login with user credentials
3. Click on My Profile -> Account & Security
4. Click on Forgot Password
5. Click on Reset password without filling in anything in the password fields
6. Notice the error.

### Screenshots or Screen Capture

<img width="1439" alt="Screenshot 2021-06-25 at 8 45 29 PM" src="https://user-images.githubusercontent.com/57

[2021-06-25 15:20] hyperblaster1 opened #202 "[Chrome Android] Country dropdown opens with incorrect scroll position when you scroll down on sign up page"
## Steps to reproduce

1. Open topcoder.com on Chrome on an android device
2. Click Login > Click Sign Up
3. Click I'm the talent
4. Click Sign Up without entering any details
5. After it shows error scroll down
6. Now open the country dropdown, it opens with a scrolled down state

## Screenshot

https://user-images.githubusercontent.com/51795389/123446563-a31a1a00-d5f6-11eb-992c-3c92ef2af68e.mp4

[2021-06-25 15:23] kalindipandey opened #203 "[web- Chrome] The Padding is missing for the search box for country"
**Steps**

1. Go to https://www.topcoder.com/
2. Click on the Signup >> select talent >> click on the signup >> Click on the select my country dropdown >>observe the search box on the top has no padding

**Actual**

The Padding is missing for the search box for country options

**Expected**

The Padding should not be missing for the search box for country

**Screenshot/Screencast**

![Uploading Sc

[2021-06-25 15:25] hyperblaster1 opened #204 "[Edge Web] Additional right arrow icon shows when you click Login"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Login
3. Enter any characters in the 2 fields > Click Login
4. Currently, when you do this you will see an additional needless right arrow icon in the Log In button

## Screenshot
https://user-images.githubusercontent.com/51795389/123447504-8f22e800-d5f7-11eb-96e2-1c5d27c428ac.mp4

## Actual Result
Additional right arrow icon shows wh

[2021-06-25 15:25] draco-malfoy opened #205 "Learn more about connect redirect to Topcoder homepage"
**Device**:
  Laptop

**Operating System**:
 Windows 10

**Browser**: Chrome .

**Steps to reproduce** :

1. go to connect.topcoder.com
2. click 'Learn more about Connect'

**Actual result**:

redirects to topcoder home page

**Expected results**:

should redirect to learn more page

**Bug Type** : Functional

**Testing collateral**:

https://user-images.githubusercontent.com/46344490/123447613-ae

[2021-06-25 15:26] InfantaAnu opened #206 "[Web-Chrome] - Email address auto populated in Sign Up Tab"
**Device:** Laptop
**Operating System:** Windows 10 Home - 20H2 - 19042.1052
**Browser:** Chrome, FireFox, Microsoft Edge
**Steps to reproduce :**
1. Go to https://www.topcoder.com/
2. Click on Log In Button
3. Click on Forgot Password on Log In Tba
4. Enter email address and click on Send Email Button
5. Now go to Sign Up Tab

**Actual result:** Email address is auto populated [https://drive.goog

[2021-06-25 15:27] rprakash20 opened #207 "[Web][UI]Topcoder login/Signup page doesn't show the topcoder logo (favicon) in the browser tab"
### Steps to Reproduce
1. Open topcoder.com
2.Click on Login/Sign Up
3. Click "I'm The Talent" on User Selection
4. Notice the browser tab icon

### Screenshots or Screen Capture
<img width="1434" alt="Screenshot 2021-06-25 at 8 55 09 PM" src="https://user-images.githubusercontent.com/5712602/123447785-df9a4580-d5f7-11eb-9099-f5aa546af96e.png">

### Current Results
Topcoder login/Signup page doesn

[2021-06-25 15:28] hyperblaster1 opened #208 "[Edge Web] Additional right arrow icon shows when user clicks "Send Email""
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Login
3. Click Forgot password
4. Enter 'a@a.com'
5. Click Send Email
6. Observe that an additional right arrow icon shows when you do that

## Screenshot

https://user-images.githubusercontent.com/51795389/123447954-0b1d3000-d5f8-11eb-97b5-2f3baf14116a.mp4

## Actual Result
Additional right arrow icon shows when you click "Send Email

[2021-06-25 15:29] Chapre opened #209 "[Firefox-Web] Choose your country non homogenous hint color"
**Steps to reproduce**
1. go to https://connect.topcoder.com/
2. Go to the sign up page
3. Insure not data is entered at all
4. have a look at the hint of the country dropdown
5. Compare the color to other form inputs hints

**Actual Result**
the dropdown hint text appear a little bit darker
![image](https://user-images.githubusercontent.com/13720708/123447638-ff1e7780-d5d1-11eb-979e-abbfaa805b6f.

[2021-06-25 15:31] hyperblaster1 opened #210 "[Chrome Web] Check your email screen has old favicon"
## Steps to reproduce

1. Open topcoder.com on Chrome
2. Click Sign Up > Click I'm the talent
3. Enter valid values in form and Click Sign Up
4. On the Check you email screen , note that the favicon is of the old topcoder website

## Screenshot
https://user-images.githubusercontent.com/51795389/123448417-82eb5a80-d5f8-11eb-803a-97054face522.mp4

## Actual Result
Check your email screen has old fav

[2021-06-25 15:32] rprakash20 opened #211 "[Web][UI] browser tab description shows "Sign In with Topcoder" though the same page has Sign In and Sign Up both options"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Sign Up -> I'm the Talent
3. Notice the browser tab description

### Screenshots or Screen Capture
<img width="1440" alt="Screenshot 2021-06-25 at 8 58 39 PM" src="https://user-images.githubusercontent.com/5712602/123448405-7f57d380-d5f8-11eb-99b5-44cb42def436.png">

### Current Results
 browser tab description shows "Sign In with Topcoder" t

[2021-06-25 15:34] kalindipandey opened #212 "[web- Chrome] The two extra fields on the signup form "first name" and "Last name" which are not in the design"
**Steps**

1. Go to https://www.topcoder.com/
2. Click on the signup
3. Click on the talent as the user >>> Click on the Signup >> observe the two extra fields "first name" "Last name"
which are not in the design

**Actual**

The two extra fields on the signup form "first name" and  "Last name" which are not in the design

**Expected**

The two extra fields on the signup form "first name" and  "La

[2021-06-25 15:39] rprakash20 opened #213 "[Web][UI]Error message for handle more than 15 characters should be corrected"
### Steps to Reproduce
1. Open topcoder.com
2. Click on Sign Up -> I'm The Talent
3. On Sign up, Choose a Username/Handle greater than 15 chars
4. Fill in other details
5. Click on Sign Up
6. Notice the error message

### Screenshots or Screen Capture
<img width="1440" alt="Screenshot 2021-06-25 at 9 06 21 PM" src="https://user-images.githubusercontent.com/5712602/123449514-64d22a00-d5f9-11eb-825a

[2021-06-25 15:40] hyperblaster1 opened #214 "[Chrome Web] Additional whitespace/Incorrect clipping below stock image on Sign Up page"
## Steps to reproduce

1. Open topcoder.com on MS Edge
2. Click Login
3. Switch to Sign Up
4. Switch between these tabs to observe that there is a whitespace/incorrect image clipping below the stock image on the right

## Screenshot
https://user-images.githubusercontent.com/51795389/123449879-b4b0f100-d5f9-11eb-8513-6e152d1659ee.mp4

## Actual Result
Additional whitespace/Incorrect clipping below

[2021-06-25 15:42] ab668685 opened #215 "Web Chrome :On providing invalid email/user gets message - user already exists"
Steps:-
1. Click on link - https://auth.topcoder.com/login?
2. Click on Signup
3. Enter invalid user
4.Click SignUp

Issue : Gets message "User already exists"
Expected Result : Should not be able to register. Nor should get this message

Issue Description : Web :
Device type - Laptop
OS - Windows
Browser user - Chrome

![image](https://user-images.githubusercontent.com/61318135/123448015-1708f200